@{layout('')}

<!DOCTYPE html>
<html ng-app="xxnr.manager">
<head>
	<title>Manager v@{config.version}</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	@{head}
	<link rel="stylesheet" href="/3rd-party/non-classified/font-awesome/v4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/3rd-party/css/google-font/Source+Sans+Pro-400,200,700.css" />
	@{import('manager.css', 'favicon.ico')}
	<script>
		var managerurl="@{!CONFIG('manager-url')}";
        var usertypes=JSON.parse('@{!CONFIG("user_types")}');
		var currency='@{!config.custom.currency_entity}';
		var su=JSON.parse('@{json(user)}');
        su.roles = su.role.view_roles;
	</script>
</head>
<body ng-controller="ManagerController">

	<div id="loading"></div>
	<div id="success"><span class="fa fa-check-circle"></span></div>

	<header>
		<div class="container">
			<nav>
				<!--<a href="/" title="E-shop" class="highlight"><span class="fa fa-globe"></span></a>-->
				<a class="jrouting" href="@{CONFIG('manager-url')}/" title="@(统计)" data-role="dashboard"><span class="fa fa-dashboard"></span></a>
				<a class="jrouting" href="@{CONFIG('manager-url')}/orders/" title="@(订单)" data-role="orders"><span class="fa fa-shopping-cart"></span></a>
				<a class="jrouting" href="@{CONFIG('manager-url')}/products/" title="@(商品)" data-role="products"><span class="fa fa-navicon"></span></a>
				<a class="jrouting" href="@{CONFIG('manager-url')}/users/" title="@(用户)" data-role="users"><span class="fa fa-users"></span></a>
				<a class="jrouting" href="@{CONFIG('manager-url')}/news/" title="@(资讯)" data-role="news"><span class="fa fa-newspaper-o"></span></a>
				<a class="jrouting" href="@{CONFIG('manager-url')}/payrefunds/" title="@(退款)" data-role="payrefunds"><span class="fa fa-money"></span></a>
				<a class="jrouting" href="@{CONFIG('manager-url')}/auditlogs/" title="@(审计)" data-role="auditlogs"><span class="fa fa-history"></span></a>
				<a class="jrouting" href="@{CONFIG('manager-url')}/settings/" title="@(设置)" data-role="settings"><span class="fa fa-cog"></span></a>
				<!-- <a class="jrouting" href="@{CONFIG('manager-url')}/pages/" title="@(Pages)" data-role="pages"><span class="fa fa-file-text"></span></a>
				<a class="jrouting" href="@{CONFIG('manager-url')}/newsletter/" title="@(Newsletter)" data-role="newsletter"><span class="fa fa-envelope"></span></a>
				<a class="jrouting" href="@{CONFIG('manager-url')}/system/" title="@(System)" data-role="system"><span class="fa fa-database"></span></a> -->
                <div class="account">账户：@{user.account}    <a href="" ng-click="logout()" title="@(退出)"><span class="fa fa-sign-out"></span></a></div>
			</nav>
		</div>
	</header>

	<div id="body">
		<div data-component="page" data-component-path="common.page" data-if="dashboard" data-template="/templates/manager-dashboard.html"></div>
		<div data-component="page" data-component-path="common.page" data-if="orders" data-template="/templates/manager-orders.html"></div>
		<div data-component="page" data-component-path="common.page" data-if="products" data-template="/templates/manager-products.html"></div>
		<div data-component="page" data-component-path="common.page" data-if="users" data-template="/templates/manager-users.html"></div>
		<div data-component="page" data-component-path="common.page" data-if="potentialcustomers" data-template="/templates/manager-potentialcustomers.html"></div>
		<div data-component="page" data-component-path="common.page" data-if="news" data-template="/templates/manager-news.html"></div>
		<div data-component="page" data-component-path="common.page" data-if="payrefunds" data-template="/templates/manager-payrefunds.html"></div>
		<div data-component="page" data-component-path="common.page" data-if="auditlogs" data-template="/templates/manager-auditlogs.html"></div>
		<div data-component="page" data-component-path="common.page" data-if="pages" data-template="/templates/manager-pages.html"></div>
		<div data-component="page" data-component-path="common.page" data-if="newsletter" data-template="/templates/manager-newsletter.html"></div>
		<div data-component="page" data-component-path="common.page" data-if="settings" data-template="/templates/manager-settings.html"></div>
		<div data-component="page" data-component-path="common.page" data-if="system" data-template="/templates/manager-system.html"></div>
	</div>

	<footer>
		<div>&copy; 2016 <a href="http://www.xinxinnongren.com">@{config.author}</a>.</div>
		<div class="fs11 silver">All rights reserved for @{config.author}.</div>
	</footer>

	<script src="/3rd-party/js/jquery/2.1.3/jquery.min.js"></script>
	<script src="/3rd-party/js/Chart.js/1.0.2/Chart.min.js"></script>
	<script src="/3rd-party/js/ckeditor/ckeditor.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-cookies.min.js"></script>
	@{js('manager.js')}
	@{section('script')}

</body>
</html>