<!DOCTYPE html>
<html ng-app="xxnr.manager">
<head>
	<title>Manager v<%= version %></title>
	<% include ./partials/static %>
	<script type="text/javascript">
		var usertypes= <%- JSON.stringify(user_types) %>;
		var managerurl = '<%= manager_url %>';
		var currency= "<%= currency_entity %>";
		var su= <%- JSON.stringify(user) %>;
        su.roles = su.role.view_roles;
	</script>
	
</head>
<body ng-controller="ManagerController">

	<div id="loading"></div>
	<div id="success"><span class="fa fa-check-circle"></span></div>

	<header>
		<div class="container">
			<nav>
			<ul>
				<% if (user && user.role && user.role.view_roles && user.role.view_roles.length > 0) { %>
					<% if (user.role.view_roles.indexOf('dashboard') !== -1) { %><li><a class="jrouting" href="<%= manager_url %>/" title="统计" data-role="dashboard"><span class="fa fa-dashboard"></span></a></li><% } %>
					<% if (user.role.view_roles.indexOf('orders') !== -1) { %><li><a class="jrouting" href="<%= manager_url %>/orders/" title="订单" data-role="orders"><span class="fa fa-shopping-cart"></span></a></li><% } %>
					<% if (user.role.view_roles.indexOf('products') !== -1) { %><li><a class="jrouting" href="<%= manager_url %>/products/" title="商品" data-role="products"><span class="fa fa-navicon"></span></a></li><% } %>
					<% if (user.role.view_roles.indexOf('users') !== -1) { %><li><a class="jrouting" href="<%= manager_url %>/users/" title="用户" data-role="users"><span class="fa fa-users"></span></a></li><% } %>
					<% if (user.role.view_roles.indexOf('rsc') !== -1) { %><li><a class="jrouting" href="<%= manager_url %>/rsc/" title="服务站管理" data-role="rsc"><span class="fa fa-truck"></span></a></li><% } %>
					<% if (user.role.view_roles.indexOf('news') !== -1) { %><li><a class="jrouting" href="<%= manager_url %>/news/" title="资讯" data-role="news"><span class="fa fa-newspaper-o"></span></a></li><% } %>
					<% if (user.role.view_roles.indexOf('payrefunds') !== -1) { %><li><a class="jrouting" href="<%= manager_url %>/payrefunds/" title="退款" data-role="payrefunds"><span class="fa fa-money"></span></a></li><% } %>
					<% if (user.role.view_roles.indexOf('auditlogs') !== -1) { %><li><a class="jrouting" href="<%= manager_url %>/auditlogs/" title="审计" data-role="auditlogs"><span class="fa fa-history"></span></a></li><% } %>
					<% if (user.role.view_roles.indexOf('settings') !== -1) { %><li><a class="jrouting" href="<%= manager_url %>/settings/" title="设置" data-role="settings"><span class="fa fa-cog"></span></a></li><% } %>
				<% } %>
				<% if (user) { %>
            	<div class="account">账户：<%= user.account%><a href="" ng-click="logout()" title="退出"><span class="fa fa-sign-out"></span></a></div>
            	<% } %>
            </ul>
			</nav>
		</div>
	</header>

	<div id="body">
	<% if (user && user.role && user.role.view_roles && user.role.view_roles.length > 0) { %>
		<% if (user.role.view_roles.indexOf('dashboard') !== -1) { %>
		<div data-component="page" data-component-path="common.page" data-if="dashboard" data-template="/templates/manager-dashboard.html"></div>
		<div data-component="page" data-component-path="common.page" data-if="dashboard-weekly" data-template="/templates/manager-dashboard-weekly.html"></div>
		<div data-component="page" data-component-path="common.page" data-if="dashboard-agentRank" data-template="/templates/manager-dashboard-agentrank.html"></div>
		<% } %>
		<% if (user.role.view_roles.indexOf('orders') !== -1) { %>
		<div data-component="page" data-component-path="common.page" data-if="orders" data-template="/templates/manager-orders.html"></div>
		<div data-component="page" data-component-path="common.page" data-if="order-detail" data-template="/templates/manager-order-detail.html"></div>
		<% } %>
		<% if (user.role.view_roles.indexOf('products') !== -1) { %>
		<div data-component="page" data-component-path="common.page" data-if="products" data-template="/templates/manager-products.html"></div>
		<% } %>
		<% if (user.role.view_roles.indexOf('users') !== -1) { %>
		<div data-component="page" data-component-path="common.page" data-if="users" data-template="/templates/manager-users.html"></div>
		<div data-component="page" data-component-path="common.page" data-if="potentialcustomers" data-template="/templates/manager-potentialcustomers.html"></div>
		<% } %>
		<% if (user.role.view_roles.indexOf('news') !== -1) { %>
		<div data-component="page" data-component-path="common.page" data-if="news" data-template="/templates/manager-news.html"></div>
		<% } %>
		<% if (user.role.view_roles.indexOf('payrefunds') !== -1) { %>
		<div data-component="page" data-component-path="common.page" data-if="payrefunds" data-template="/templates/manager-payrefunds.html"></div>
		<% } %>
		<% if (user.role.view_roles.indexOf('auditlogs') !== -1) { %>
		<div data-component="page" data-component-path="common.page" data-if="auditlogs" data-template="/templates/manager-auditlogs.html"></div>
		<% } %>
		<% if (user.role.view_roles.indexOf('settings') !== -1) { %>
		<div data-component="page" data-component-path="common.page" data-if="settings" data-template="/templates/manager-settings.html"></div>
		<% } %>	
		<% if (user.role.view_roles.indexOf('rsc') !== -1) { %>
		<div data-component="page" data-component-path="common.page" data-if="rsc" data-template="/templates/manager-RSC.html"></div>
		<div data-component="page" data-component-path="common.page" data-if="rsc-detail" data-template="/templates/manager-RSC-detail.html"></div>
		<div data-component="page" data-component-path="common.page" data-if="rsc-order" data-template="/templates/manager-RSC-order.html"></div>
		<div data-component="page" data-component-path="common.page" data-if="rsc-orderDetail" data-template="/templates/manager-RSC-orderDetail.html"></div>
		<% } %>	
	<% } %>
	</div>

	<footer>
		<div>&copy; 2016 <a href="http://www.xinxinnongren.com"><%= author %></a>.</div>
		<div class="fs11 silver">All rights reserved for <%= author %>.</div>
	</footer>
	<script src="/3rd-party/js/jquery/2.1.3/jquery.min.js"></script>
	<script src="/3rd-party/js/Chart.js/1.0.2/Chart.min.js"></script>
	<script src="/3rd-party/js/ckeditor/ckeditor.js"></script>
	<script src="/js/angular.min.js"></script>
	<script src="/js/angular-cookies.min.js"></script>
	<script src="/js/jctajr.min.js"></script>
	<script src="/js/default.js"></script>
	<script src="/js/ui.js"></script>
	<script src="/js/manager.js"></script>
	<script src="/js/moment.min.js"></script>
</body>
</html>