auto*/

/*default*/
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td,span,a{margin:0;padding:0;}
img{border:none;}
em,strong{font-style:normal;font-weight:normal;}
li{list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
a:hover {text-decoration: none;}
a {color: gray;text-decoration: none;}
/* reset end */

html,body { margin: 0; height: 100%; position: relative; }
body { background-color: white; padding: 0; color: gray; font-smoothing: antialiased; overflow-y: scroll; overflow-x: hidden; overflow-scrolling: touch; font-family: "微软雅黑","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;}
header { background-color: #E0E0E0; margin-bottom: 30px; }

nav { font-size: 20px; position: relative; display: inline-block; font-smoothing: antialiased; width: 100%; }
nav ul {display: inline-table; width: 100%;}
nav ul li {display: inline-block; border-left: 1px solid #D0D0D0;}
nav ul li:last-of-type { border-right: 1px solid #D0D0D0; }
nav a { color: gray; padding: 6px 0 0; position: relative; display: inline-block; min-width: 60px; text-align: center; height: 40px; }
/*nav a:first-child { border-left: 1px solid #D0D0D0; }*/
nav a:hover { color: #303030; text-decoration: none; }

nav .selected { background-color: white; color: black; }
nav .highlight { background-color: #D0D0D0; color: gray; }

h1 { font-weight: 200; font-family: 'Source Sans Pro'; margin: 0 0 20px 0; padding: 0; color: black; font-size: 40px; }
h1 b { font-weight: 400; }

h2 { font-weight: 200; font-family: 'Source Sans Pro'; margin: 0 0 8px 0; padding: 0; color: gray; font-size: 24px; }
h2 b { font-weight: 400; }

h3 { font-weight: 200; font-family: 'Source Sans Pro'; margin: 0 0 8px 0; padding: 0; color: gray; font-size: 20px; }
h3 b { font-weight: 400; }

h4 { font-weight: 200; font-family: 'Source Sans Pro'; margin: 0 0 8px 0; padding: 0; color: gray; font-size: 16px; }
h4 b { font-weight: 400; }

h5 { font-weight: 200; font-family: 'Source Sans Pro'; margin: 0 0 8px 0; padding: 0; color: gray; font-size: 14px; }
h5 b { font-weight: 400; }

#loading { background: rgba(255,255,255,0.9) url(../img/preloader.gif) no-repeat 50% 50%; position: fixed; left: 0; right: 0; bottom: 0; top: 0; z-index: 15; }
#success { width: 200px; height: 200px; left: 50%; top: 50%; margin-left: -100px; margin-top: -100px; background-color: #66B258; border-radius: 100px; font-size: 100px; line-height: 0; position: fixed; z-index: 20; color: white; text-align: center; padding-top: 40px; border: 10px solid white; box-shadow: 0 0 10px rgba(0,0,0,0.1); display: none; }

.padding { padding: 20px; }
.m { margin-bottom: 20px; }
.cl { clear: both; }

.mt5 { margin-top: 5px; }
.mt20 { margin-top: 20px; }
.mr5 { margin-right: 5px !important; }
.mr15 { margin-right: 15px !important; }
.nmb { margin-bottom: 0 !important; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb50 { margin-bottom: 50px; }

.bg-smoke { background-color: #F8F8F8; }
.b { font-weight: bold; }
.silver { color: #AAB2BD; }
.red { color: #D63B32; }
.blue { color: #377BB5; }
.black { color: black; }
.green { color: #68B25B !important; }

footer { border-top: 1px solid #E0E0E0; padding: 30px 0 0; text-align: center; font-size: 12px; background-color: #F8F8F8; height: 100px; }
table td { vertical-align: middle !important;}

.checkoutlist input { border: 0; border-bottom: 1px dotted silver; background-color: transparent; outline: 0; }
.order-completed td { background-color: rgba(150,150,150,0.1); color: gray; }
.order-completed .fa-check-circle { color: #66B258; margin-right: 5px; }

.fs11 { font-size: 11px !important; }
.help { font-size: 11px; color: #AAB2BD; margin-top: 5px; }
.help code { font: normal normal 11px Arial; background-color: #F0F0F0; padding: 2px 5px; border-radius: 4px; }

.legend { margin-bottom: 10px; }
.legend .fa { width: 14px; vertical-align: middle; margin-right: 5px; }
.legend label { margin-right: 15px; vertical-align: middle; }

hr { border-color: #E0E0E0; }
canvas { display: block; }

.dashboard-online-counter { position: relative; display: block; }
.dashboard-online-counter span { position: absolute; width: 100px; text-align: center; font-size: 40px; color: #AAB2BD; left: 50%; margin-left: -50px; top: 50%; margin-top: -10px; }

.dashboard-devices { background-color: #A0D468; position:relative; display:block; color: white; font-size: 12px; }
.dashboard-devices-desktop { position:absolute; left:10px; top:7px; }
.dashboard-devices-desktop .fa { margin-right: 5px; }
.dashboard-devices-mobile { position:absolute; right:10px; top:7px; }
.dashboard-devices-mobile .fa { margin-left: 5px; }
.dashboard-devices-stats { height:30px; background-color: #656D78; width:0; border-radius: 0 50px 50px 0; border-right: 4px solid #8CC152; }

.pages-editor { border-top: 2px solid #E0E0E0; border-bottom: 2px solid #E0E0E0; line-height: 0; }
.pages-editor iframe { width: 100%; min-height: 200px; border: 0; margin: 0; padding: 0; background-color: #F0F0F0 }
.pages-editor-widget { border-bottom: 1px solid #F0F0F0; padding: 4px 5px; cursor: pointer; }
.pages-editor-widget:hover { background-color: #F0F0F0; }

.linkbutton { display: block; font-size: 12px; padding: 4px 0 5px; border-radius: 3px; text-decoration: none; background-color: #F0F0F0; border: 1px solid #E0E0E0; color: gray; font-size: 11px; text-align: center; margin-bottom: 15px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.linkbutton:hover { background-color: #E0E0E0; text-decoration: none; }
.linkbutton .fa { margin-right: 7px; }
.gridinfo { position: absolute; margin-top: -15px; font-size: 11px; }

.w18 { width: 18px; }
.ui-error { margin: 0 20px 20px !important; }

.tabmenu { border-bottom: 1px solid #E0E0E0; padding: 0; margin: 0; display: block; position: relative; font-size: 12px; margin-bottom: 20px; }
.tabmenu li { position: relative; display: inline-block; border: 1px solid #EEEEEE; border-bottom: 0; margin: 0 0 0 10px; padding: 0; border-radius: 3px 3px 0 0; background-color: #F8F8F8; text-align: center; padding: 8px 10px; color: gray; cursor: pointer; min-width: 120px; }
.tabmenu li:first-child { margin-left: 0; }
.tabmenu .selected { background-color: white; top: 1px; border-color: #E0E0E0; color: black; cursor: auto; }
.tabmenu .fa { margin-right: 8px; }
.tabmenu li:hover { background-color: white; top: 1px; border-color: #E0E0E0; color: black; }
.tabmenu li.noborder{ font-size: 16px; border: 0; margin: 0 0 0 100px; border-radius: 0; background-color: white; }
.tabmenu li.noborder:first-child { margin-left: 100px; }
.tabmenu li.noborder:hover { border-bottom: 2px solid #FF6F00; color: #FF6F00; }
.tabmenu li.underline { top: 1px; border-bottom: 2px solid #FF6F00; color: #FF6F00; cursor: auto; }

select {
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}
select option {
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

@media(max-width: 767px) {
	/*header { height: 45px; }*/
	nav { font-size: 16px; text-align: center; }
	nav a { min-width: 42px; height: 45px; padding-top: 12px; }
	.ui-form-buttons button[name="submit"] { width: 140px; }
	.table-xs thead { display: none; }
	.table-xs tbody { margin-top: 15px; display: block; }
	.table-xs td { display: block; }
	.table-xs td:before { content: attr(data-label); font-weight: bold; border-right: 1px solid #E0E0E0; width: 100px; float: left; margin-right: 10px; }
	.table-xs tr { margin-bottom: 20px; display: block; }
}
@media (min-width:1400px){.container{width:1350px}}
.cke_reset_all table td { vertical-align: baseline !important; }

.login {margin-top: 150px;}
.account {display:inline;float:right;}
.account a {
    border: none;
    margin-left: 15px;
    border-left: 1px solid #D0D0D0;
}

.ui-form table {
    table-layout: fixed;
    font-size: 12px;
    margin-bottom: 15px;
}
.table-bordered ul li .product-name { height:20px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; float: left; }
/*.table-bordered ul li span { float: right; }*/
/*.account a:first-child {border: none;}*/

.multiselect {
	width: 100%;
}
.selectBox {
	position: relative;
}
.selectBox select {
	width: 100%;
	font-weight: bold;
}
.overSelect {
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
}
#checkboxes {
	display: none;
	border: 1px #dadada solid;
}
#checkboxes label {
	display: block;
}
#checkboxes label:hover {
	background-color: #1e90ff;
}
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.drag{float:left;
	margin-right:10px;
	border-radius: 25px;
	text-align: center;
	padding-left:3px;
	padding-right:3px;
	box-shadow:-7px -7px 5px #999 inset;
	cursor:	move;}

.drag:hover{
	float:left;
	margin-right:10px;
	border-radius: 25px;
	text-align: center;
	padding-left:3px;
	padding-right:3px;
	box-shadow:-5px -5px 5px #999 inset;
	cursor: move;
}

.multi_form {margin-left:20px;margin-right:20px;margin-bottom:20px;}

/*.form_tab div {padding: 6px 0 0; position: relative; display: inline-block; min-width: 60px; text-align: center; height: 30px; }
.form_tab div:hover { color: #303030; text-decoration: none; cursor: pointer;}
.form_tab_selected { color: #303030; text-decoration: none; }*/
.form_tab .deeppink {background:hotpink; border:1px solid hotpink}
.form_tab .cornflowerblue  {background:cornflowerblue; border:1px solid cornflowerblue;}
.form_tab .orangered  {background:#ff9100; border:1px solid #ff9100;}

.form_tab { border-bottom: 1px solid #E0E0E0; padding: 0; margin: 0; display: block; position: relative; font-size: 12px; }
.form_tab div{ position: relative; display: inline-block; border: 1px solid #EEEEEE; border-bottom: 0; margin: 0 0 0 10px; padding: 0; border-radius: 3px 3px 0 0; background-color: #F8F8F8; text-align: center; padding: 8px 10px; color: gray; cursor: pointer; min-width: 120px; }
.form_tab div:first-child { margin-left: 0; }
.form_tab div:hover { background-color: white; top: 1px; border-color: #E0E0E0; color: black; }
.form_tab .form_tab_selected { background-color: white; top: 1px; border-color: #E0E0E0; color: black; }

.multi_form .form_cornflowerblue {border:1px solid cornflowerblue; background:white;}
.multi_form .form_deeppink {border: 1px solid hotpink; background:white;}
.multi_form .form_orangered {border: 1px solid #ff9100; background:white;}

.button_disabled {background-color: #F5F5F5 !important;
	border: 1px solid #E0E0E0 !important;
	color: silver !important;
	cursor: not-allowed;
	box-shadow: none;}

.container .col-md-12 h3.ui-left { border-left: 7px solid #FF6F00; padding-left: 10px; }

.left-nav div.ui-left { margin-bottom: 10px; }
.left-nav a { font-size: 18px; line-height: 25px; cursor: pointer; font-family: 'Source Sans Pro';}
.left-nav a:hover { color: #FF6F00; }
.left-nav .selected { color: #FF6F00; cursor: auto; }
/*.left-nav .sidebar a { font-size: 14px; }*/
.sidebar { font-size: 14px;}
.sidebar li { line-height: 25px; cursor: pointer; }
.sidebar li:hover { color: #FF6F00; }
.sidebar .selected { color: #FF6F00; cursor: auto; }

/* dash board */
.dashboard a {cursor: pointer;}
.dashboard a:hover { color: #FF6F00; }
.dashboard a.selected { color: #FF6F00; cursor: auto; }
.dashboard-sidebar {font-size: 14px;}
.dashboard-sidebar li { line-height: 25px; cursor: pointer; }
.dashboard-sidebar li:hover { color: #FF6F00; }
.dashboard-sidebar .selected { color: #FF6F00; cursor: auto; }
.dashboard .introductions .type { display: none; }
.dashboard .introductions .selected { display: block; }
.dashboard .details { margin-top: 20px; }
.dashboard .details div { display: none; }
.dashboard .details .selected { display: block; }

.box { border: 1px solid #E0E0E0; padding: 10px; text-align: center; }
.box div:first-child { border-left: none }
/*.box .col-md-3 { border-left: 1px solid #E0E0E0; }*/
.box .col-md-1, .box .col-md-2, .box .col-md-3, .box .col-md-4, .box .col-md-5, .box .col-md-6, .box .col-md-7, .box .col-md-8, .box .col-md-9, .box .col-md-10, .box .col-md-11, .box .col-md-12 { border-left: 1px solid #E0E0E0; }
.box .num { color: #008000; font-size: 20px; }

.quick-view { font-size: 14px;float: right; }
.quick-view span { float: left; }
.quick-view div { float: left; margin:0 8px; cursor: pointer; }
.quick-view div:hover { color: #008000; }
.quick-view .selected { color: #008000; cursor: auto; }
.quick-view input { float: left; width: 100px; border: 1px solid gray; border-radius: 3px; text-align: center; }
.dates-select span, .dates-select input { padding: 2px 5px; }
.dates-select button { padding: 1px 10px; margin-left: 10px; border: 1px solid gray; border-radius: 3px; background-color: #FFFFFF; text-align: center; }
.dates-select button:hover { border: 1px solid #008000; background-color: #008000; color: #FFFFFF; }
.dates-select .selected { border: 1px solid #008000; background-color: #008000; color: #FFFFFF; }

.chart-buttons { font-size: 12px; }
.chart-buttons span { float: left; line-height: 26px; }
.chart-buttons div { float: left; margin:0 8px; cursor: pointer; border: 1px solid #EEEEEE; padding: 4px 15px; border-radius: 3px; background-color: #FFFFFF;}
.chart-buttons div:hover { color: #FFFFFF; border: 1px solid #FF6F00; background-color: #FF6F00; }
.chart-buttons .selected { color: #FFFFFF; border: 1px solid #FF6F00; background-color: #FF6F00; cursor: auto; }

.agents table td div.agentstitle { margin: 0 auto; display: inline-block; vertical-align: middle; }
.agents table td div.agentstitle span { float: left; height: 20px; line-height: 20px; }
.agents table td div.agentsort { float: left; height: 20px; line-height: 20px; margin-left: 5px; }
.agents table td div.agentsort div { line-height: 10px; padding: 1px 0; cursor: pointer; display: block; }
.agents table td div.agentsort div:hover { color: #FF6F00; }
.agents table td div.agentsort div.selected { color: #FF6F00; cursor: auto; }

/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/
ul.simple-pagination {
	list-style: none;
}

.simple-pagination {
	display: block;
	overflow: hidden;
	padding: 0 5px 5px 0;
	margin: 0;
}

.simple-pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.simple-pagination li {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}

.simple-pagination li.disabled {
	display: none;
}

span.ellipse.clickable {
	cursor: pointer;
}

.ellipse input {
	width: 3em;
}

/*------------------------------------*\
	Compact Theme Styles
\*------------------------------------*/

.compact-theme a, .compact-theme span {
	float: left;
	color: #333;
	font-size:14px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #AAA;
	border-left: none;
	min-width: 14px;
	padding: 0 7px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}

.compact-theme a:hover {
	text-decoration: none;
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* IE10+ */
	background: linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* W3C */
}

.compact-theme li:first-child a, .compact-theme li:first-child span {
	border-left: 1px solid #AAA;
	border-radius: 3px 0 0 3px;
}

.compact-theme li:last-child a, .compact-theme li:last-child span {
	border-radius: 0 3px 3px 0;
}

.compact-theme .current {
	background: #bbbbbb; /* Old browsers */
	background: -moz-linear-gradient(top, #bbbbbb 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbbbbb), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* W3C */
	cursor: default;
}

.compact-theme .ellipse {
	background: #EAEAEA;
	padding: 0 10px;
	cursor: default;
}

/*------------------------------------*\
	Light Theme Styles
\*------------------------------------*/

.light-theme a, .light-theme span {
	float: left;
	color: #666;
	font-size:14px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #BBB;
	min-width: 14px;
	padding: 0 7px;
	margin: 0 5px 0 0;
	border-radius: 14px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}

.light-theme a:hover {
	text-decoration: none;
	background: #FCFCFC;
}

.light-theme .current {
	background: #FF6F00;
	color: #FFF;
	border-color: #FF6F00;
	cursor: default;
}

.light-theme .ellipse {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: bold;
	cursor: default;
}

/*------------------------------------*\
	Dark Theme Styles
\*------------------------------------*/

.dark-theme a, .dark-theme span {
	float: left;
	color: #CCC;
	font-size:14px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #222;
	min-width: 14px;
	padding: 0 7px;
	margin: 0 5px 0 0;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background: #555; /* Old browsers */
	background: -moz-linear-gradient(top, #555 0%, #333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555), color-stop(100%,#333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #555 0%,#333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #555 0%,#333 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #555 0%,#333 100%); /* IE10+ */
	background: linear-gradient(top, #555 0%,#333 100%); /* W3C */
}

.dark-theme a:hover {
	text-decoration: none;
	background: #444;
}

.dark-theme .current {
	background: #222;
	color: #FFF;
	border-color: #000;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2), 0 0 1px 1px rgba(0, 0, 0, 0.1) inset;
	cursor: default;
}

.dark-theme .ellipse {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: bold;
	cursor: default;
}


.pika-single .pika-button { text-align: center; }
/* dash board end 