<!DOCTYPE html>
<html ng-app="xxnr">
<head lang="en">
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel='icon' href='images\title_logo.png' type='image/png' />
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/commonConfig.js"></script>
    <script src="js/commonService.js"></script>
    <script src="js/remoteApiService.js"></script>
    <script src="js/login/loginController.js"></script>
</head>
<body ng-controller="loginController">
<div class="user_wrap">
    <div class="logo">
        <a href="index.html">
            <img src="images/logo.png" alt="">
        </a>
    </div>
    <div class="lenged">
        <span>使用手机号登录</span>
    </div>
    <ul class="register">
        <li>
            <input class="input" id="login_account" placeholder="请输入您的手机号" type="text" ng-model="phoneNumber">
        </li>
        <li>
            <input class="input" id="login_password" placeholder="请输入您的密码" type="password" ng-model="password" ng-keydown="password_keydown($event)">
        </li>
        <li class="reg_btn">
            <a ng-click="login()" href="">立即登录</a>
        </li>
        <li class="get_pass">
            <a href="" ng-click='forgetPassword()' class="left">忘记密码</a>
            <span class="right">还没有账号 <a href="register.html">立即注册</a></span>
        </li>
    </ul>
</div>
<div class="pop_mask" ng-show="showPop"></div>
<div class="pop_content" ng-show="showPop">
    <div class="pop_head">
        <span class="left">修改密码</span>
        <a href="" ng-click='closePop()' class="right close"></a>
    </div>
    <div class="pop_body">
        <ul class="pop_login">
            <li>
                <label for="" class="left label">用户名：</label>
                <div class="left">
                    <input id="tel" type="text" class="input" value="" ng-model="phoneNumber">
                </div>
            </li>
            <li>
                <label for="" class="left label">验证码：</label>
                <div class="left">
                    <input type="text" id="dynamic_code" class="input_reg_code" value="" ng-model="code">
                </div>
                <div class="right reg_get_code"><a href="" ng-click="sendResetCode($event)">{{countDown}}</a></div>
            </li>
            <li>
                <label for="" class="left label">新密码：</label>
                <div class="left">
                    <input type="password" id="password" class="input" value="" ng-model="newPassword">
                </div>
            </li>
            <li>
                <label for="" class="left label">确认密码：</label>
                <div class="left">
                    <input type="password" id="password_cf" class="input" value="" ng-model="confirm_newPassword" ng-keydown="confirm_newPassword_keydown($event)">
                </div>
            </li>
            <li>
                <label for="" class="left label">&nbsp;</label>
                <div class="left">
                    <a href="" class="btn" ng-click="findPassword_submit()">确 认</a>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>