<!doctype html>
<html ng-app="xxnr">
<head>
    <meta charset="utf-8">
    <title>购物车</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/commonConfig.js"></script>
    <script src="js/commonService.js"></script>
    <script src="js/remoteApiService.js"></script>
    <script src="js/commonDirectives.js"></script>
    <script src="js/payService.js"></script>
    <script src="js/shoppingCart/shoppingCartController.js"></script>
    <script src="js/login/loginController.js"></script>
    <script>
        $('.header').ready(function(){
            $(".header").load("header.html");
        })
        $('.footer').ready(function(){
            $(".footer").load("footer.html");
        })
    </script>
</head>
<body ng-controller="shoppingCartController">
<div class="header"></div>
<div class="wrap nav">
    <h1 class="left logo"><a href="index.html">新新农人</a></h1>
    <ul class="left">
        <li><a href="index.html">首页</a></li>
        <li><a href="huafei.html">化肥专场</a></li>
        <li><a href="car.html">汽车专场</a></li>
        <li><a href="news.html">新农资讯</a></li>
        <!--<li><a href="#">新农论坛</a></li>-->
        <li><a href="company.html">公司简介</a></li>
    </ul>
    <div class="right buy">
        <a href="" ng-click="accessShoppingCart()"><em>&nbsp;</em>购物车（{{shoppingCartCount}}）</a>
    </div>
</div>

<div class="clear channel3 cart_box">
    <p class="guide">
        <a href="index.html">首页</a> ／ <a href="shoppingCart.html">我的购物车</a>
    </p>
    <div class="wrap">
        <div class="cart">
            <div class="cart-main">
                <div class="cart-thead">
                    <div class="column t-checkbox">
                        <div class="cart-checkbox">
                            <input type="checkbox" checked="checked" class="checkbox" ng-model="allSelected" ng-click="selectAll()">
                        </div>
                        全选
                    </div>
                    <div class="column t-goods">商品信息</div>
                    <div class="column t-price">单价(元)</div>
                    <div class="column t-quantity">数量</div>
                    <div class="column t-sum">小计(元)</div>
                    <div class="column t-action">操作</div>
                </div>
                <div class="cart-list">
                    <div class="cart-item-list">
                        <div class="cart-tbody" ng-repeat="shop in shops">
                            <div class="shop">
                                <div class="cart-checkbox">
                                    <input type="checkbox" checked="checked" class="checkbox" ng-model="shop.allSelected" ng-click="selectShop($index)">
                                </div>
								<span class="shop-txt">
										<a class="shop-name" href="#" target="_blank" >{{shop.name}}</a>
								</span>
                            </div>
                            <div class="item-list">
                                <div class="item-single item-item" ng-repeat="item in shop.items">
                                    <div class="item-form">
                                        <div class="cell p-checkbox">
                                            <input type="checkbox" class="checkbox" ng-model="item.selected" ng-click="selectItem($parent.$index, $index)">
                                        </div>
                                        <div class="cell p-goods">
                                            <div class="goods-item">
                                                <div class="p-img">
                                                    <a ng-href={{item.detailPageUrl}}>
                                                        <img ng-src={{item.thumbnailUrl}}>
                                                    </a>
                                                </div>
                                                <div class="item-msg">
                                                    <div class="p-name">
                                                        <a ng-href={{item.detailPageUrl}}>{{item.name}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cell p-props-price">
                                            <p class="old">{{item.oldPrice}}元</p>
                                            <p class="now">{{item.nowPrice}}元</p>
                                            <p class="jifen">{{item.point}}积分抵价{{item.point}}元</p>
                                        </div>
                                        <div class="cell p-props-quantity">
                                            <div class="buy_box">
                                                <div class="left buy_btn">
                                                    <a class="btn-reduce" href="" ng-click="reduce($parent.$index, $index)">-</a>
                                                    <a class="btn-add" href="" ng-click="add($parent.$index, $index)">+</a>
                                                    <input class="text" id="buy-num" onkeyup="value=value.replace(/[^\d]/g,'')" ng-model="item.buyCount" ng-change="buyCountChange($parent.$index, $index, item.buyCountOldValue, item.buyCount)" ng-Blur="submitChange(item.goodsId, item.buyCount)">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cell p-sum">{{item.totalPrice}}</div>
                                        <div class="cell p-ops"><a class="cart-remove" href="" ng-click="deleteItem($parent.$index, $index)">删除</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap options-box">
        <div class="price-total">
            <p><label>商品数量：</label><span>{{totalCount}}</span></p>
            <p><label>总价（不计运费）：</label><span class="total">{{totalPrice}}元</span></p>
            <p><label>已节省：</label><span>{{totalSaving}}元</span></p>
        </div>
        <div class="submit-btn"><a href="jiesuan.html">去结算</a></div>
    </div>
</div>
<div class="footer"></div>
</body>
</html>
