<% include ../app-layout-header.html %>

	<style>
		.container { margin-bottom: 30px; }
		.rule { margin-top: 25px; }
        .rule .title { margin-bottom: 16px; color: #00B38A; font-size: 18px; line-height: 18px; height: 18px; width: 100%; }
        .rule .title img { height: 100%; width: 4px; vertical-align: -2px; }
        .rule .title span { margin-left: 10px; }
        .rule p { color: #323232; font-size: 16px; word-wrap:break-word; word-break:normal; }
        .rule ul li { margin-bottom: 16px; }
        .rule ul li .linetitle { color: #323232; font-size: 16px; line-height: 28px; width: 100%; }
        .rule ul li .linetitle img { height: 28px; width: 28px; vertical-align: -8px; }
        .rule ul li .linetitle span { margin-left: 10px; }
        .rule ul li p { padding: 5px 0 0 38px; font-size: 14px; color: #646464; }
    </style>

    <div class="rule">
    	<div class="title">
    		<img src="/images/rewardshop/rectangle.png"/><span>如何获取积分？</span>
    	</div>
    	<ul>
    		<li>
				<div class="linetitle">
					<img src="/images/rewardshop/signin.png"/><span>签到</span>
				</div>
				<p>签到即可获得积分；连续签到天数越多，获得积分越多</p>
    		</li>
    		<li>
				<div class="linetitle">
					<img src="/images/rewardshop/information.png"/><span>完善资料</span>
				</div>
				<p>首次完善资料，即可获得100积分</p>
    		</li>
    		<li>
				<div class="linetitle">
					<img src="/images/rewardshop/complete.png"/><span>完成订单</span>
				</div>
				<p>每完成一笔订单，根据不同品类的商品可获取积分</p>
    		</li>
    		<li>
				<div class="linetitle">
					<img src="/images/rewardshop/reward.png"/><span>活动奖励</span>
				</div>
				<p>参与线上活动，获得积分奖励</p>
    		</li>
    	</ul>
    </div>
    <div class="rule">
    	<div class="title"><img src="/images/rewardshop/rectangle.png"/><span>如何使用积分？</span></div>
    	<p>积分可在积分商城兑换精品礼品、汽配服务等，不同礼品的具体兑换方式将在礼品详情页面进行说明</p>
    </div>
    <div class="rule">
    	<div class="title"><img src="/images/rewardshop/rectangle.png"/><span>积分有效期</span></div>
    	<p>积分使用暂无时间限制</p>
    </div>
</div>
</body>
</html>