/* css reset */
body,p,h1,h2,h3,h4,h5,ul,ol,li,form,input,td,th,dl,dd,td,th{margin:0;padding:0;}
h3,h4{font-weight:normal;}
input{border:none;_border:0;outline:none; background:none;}
em{font-style:normal;}
li{list-style:none; vertical-align:top;}
img{border:none;vertical-align:top;}
a{text-decoration:none; outline:none;color:#333;}
.clear{zoom:1}
.clear:after{content:"";display:block; clear:both;}
/* end css reset */
/* public */
body{font-family:"Microsoft YaHei","Lucida Sans Unicode","Myriad Pro","Hiragino Sans GB","Heiti SC",Verdana,simsun;background:#fff; font-size:14px;}
.wrap{width:1200px; margin:0 auto;}
.left{float:left;}
.right{float:right;}
.xxnr_btn{display:inline-block;*display:inline;zoom:1;width:150px;height:44px;line-height:44px;text-align:center;color:#fff;background:#00913a;font-size:16px;}


/*header*/
.header{width:100%;height:40px;line-height:40px;font-size:12px;color:#757575;background:#fafafa;}
.header .user a{margin-left:20px;color:#757575;}
.header .option a{margin-right:20px;color:#757575;}
.header .header_slide{position:relative;display:inline-block;*display:inline;zoom:1;}
.header .header_slide .mobile{width:78px;height:40px;line-height:40px;text-align:center;cursor:pointer;}
.header .header_slide .mobile.current{background:#fff;border:1px solid #e0e0e0;border-top:none;border-bottom:1px solid #fff;z-index:2;position:relative;}
.header .header_slide .header_pop{display:none;position:absolute;right:0;top:40px;width:184px;height:142px;background:#fff;border:1px solid #e0e0e0;}
.header .header_slide .header_pop a{display:block;width:142px;height:34px;margin:10px auto;line-height:34px;text-align:center;border:1px solid #eee;color:#616161;}
.header .header_slide .header_pop .qrcode{padding:0 20px;}
.header .header_slide .header_pop .qrcode p{line-height:24px;}
.header .header_slide .header_pop .qrcode img{width:55px;height:55px;}

.nav{height:50px;margin:25px auto;}
.nav h1 a{display:block;height:50px;width:151px;text-indent:-9999px;background:url(../images/logo.png) 0 -2px;}
.nav ul{padding-left:190px;}
.nav ul li{float:left;line-height:50px;padding-left:45px;}
.nav ul li a{font-size:16px;}
.nav ul li a:hover{color:#00913a;}
.nav ul li a.current{color:#00913a;}
.nav .buy{width:145px;height:50px;}
.nav .buy a{display:block;width:145px;height:50px;line-height:50px;background:#00913a;color:#FFFFFF;text-align:center;}
.nav .buy a em{width:20px;height:20px;display:inline-block;line-height: 20px;background: url(../images/buy-ed.png) no-repeat 0 0;text-align: center;margin-right:8px;}

.banner{width:880px;height:424px;position:relative;}
.news{width:264px;height:422px;padding:0 18px;border:1px solid #e0e0e0;}
.news .title{height:58px;line-height:58px;border-bottom:1px dashed #eee;}
.news .title h4{font-size:16px;color:#333;}
.news ul{padding:10px 0;}
.news ul li{line-height:34px;}
.news ul li a{color:#616161;}

.news ul li a em{font-size:1px;display:inline-block;*display:inline;zoom:1;width:5px;height:5px;background:#616161;margin-right:10px;}
.rslides {position: relative;list-style: none;overflow: hidden;width: 100%;padding: 0;margin: 0;}
.rslides li {-webkit-backface-visibility: hidden;position: absolute;display: none;width: 100%;left: 0;top: 0;}
.rslides li:first-child {position: relative;display: block;float: left;}
.rslides img {display: block;height: auto;float: left;width: 100%;border: 0;}

.slide_tabs{position:absolute;bottom:20px;right:30px;z-index:10;}
.slide_tabs li{float:left;width:10px;height:10px;background:#c4c5c9;text-indent:-9999px;border-radius:10px;margin-left:10px;}
.slide_tabs li.slide_here{background:#fff;}
.slide_tabs li a{width:15px;height:15px;display:block;}
.slide_nav {position: absolute;-webkit-tap-highlight-color: rgba(0,0,0,0);top: 165px;left: 0;opacity: 0.6;z-index: 3;text-indent: -9999px;overflow: hidden;text-decoration: none;height:90px; width: 40px;opacity: 1.0;background: rgba(0,0,0,0.3) url(../images/arrow.png) no-repeat -12px 7px}
.slide_nav.next {left: auto;background-position:-10px -102px;right: 0;}

.channel2{margin-top:20px;overflow:hidden;}
.channel2 .title{height:60px;line-height:60px;font-size:22px;color:#333;}
.channel2 .title .page{width:72px;padding-top:20px;}
.channel2 .title .page a{float:left;width:34px;height:22px;background:#fff;border:1px solid #e0e0e0;background:url(../images/arrow2.png) 6px -1px;}
.channel2 .title .page a.next{border-left:none;background-position:28px -1px;}
.channel2 .title .page a:hover{background-position:6px -30px;}
.channel2 .title .page a.next:hover{background-position:28px -30px;}
.related_product_list{width:1200px;overflow:hidden;}
.related_product_list ul{width:20000px;position:relative;overflow:hidden;}
.related_product_list ul li{float:left;width:224px;height:120px;margin-right:20px;}

.channel3{width:100%;background:#f5f5f5;margin-top:40px;padding-bottom:40px;}
.channel3 .title{height:60px;line-height:60px;padding-top:20px;}
.channel3 .title h4{font-size:22px;color:#333;}
.channel3 .title a{font-size:16px;}
.channel3_body{height:610px;overflow:hidden;}
.channel3_body .adver{width:225px;height:610px;overflow:hidden;}
.channel3_body ul{width:975px;}
.channel3_body ul li{float:left;width:223px;height:295px;background:#fff;margin:0 0 20px 20px;}
.channel3_body ul li a{color:#333;font-size:16px;}
.channel3_body ul li p{padding-left:30px;}
.channel3_body ul li p.img{text-align:center;padding:23px 0;}
.channel3_body ul li .price{font-size:22px;color:#ff6700;padding-top:5px;}
.footer{width:100%;background:#fff;color:#333;}
.foot .foot_info{padding:30px 0 30px 50px;overflow:hidden;}
.foot .foot_info .address{width:400px;font-size:12px;color:#616161;}
.foot .foot_info .address p{padding-top:12px;}
.foot .foot_info .address .name{font-size:14px;color:#333;padding:0;}
.foot .foot_info .address .name2{padding-top:25px;}
.foot .foot_info .contact{width:370px;font-size:12px;color:#616161;}
.foot .foot_info .contact .name{font-size:14px;color:#333;padding-bottom:12px;}
.foot .foot_info .contact .qq{padding-top:18px;}
.foot .foot_info .contact .qq li{width:80px;height:60px;margin: 0 10px 5px 0;float: left;}
.foot .foot_info .customer{height:112px;border-left:1px solid #e0e0e0;font-size:16px;padding-left:50px;}
.foot .foot_info .customer .tel{padding-top:25px;}
.foot .foot_info .customer .number{color:#00913a;font-size:24px;font-family:"Arial";padding-top:20px;letter-spacing:1px;}
.foot .foot_info .customer .qrcode{padding-left:40px;}
.foot .foot_info .customer .qrcode img{width:115px;height:110px;}
.foot .foot_copyright{font-size:12px;text-align:center;line-height:95px;border-top:1px solid #e4e4e4;}

.fenye{padding-top:20px;}
.search{/* height:270px */;background:#fff;margin-bottom:20px;color:#616161;padding:10px 0 0 50px;}
.search_key{width:120px;padding-left:10px;font-size:16px;line-height:58px;}
.search_category{overflow:hidden;}
.search_category ul{width:750px;font-size:14px;}
.search_category ul li{float:left;/* width:150px */;line-height:60px;}
.search_category ul li a{display:inline-block;*display:inline;zoom:1;height:25px;line-height:25px;color:#616161;padding:0 15px;}
.search_category ul li a.current{background:#00913a;color:#fff;}
.fenye .channel3_body{height:auto;}
.fenye .channel3_body ul{width:auto;}
.fenye .channel3_body ul li{width:220px;height:320px;margin:0 10px 20px 10px;}
.fenye .channel3_body ul li .intro{color:#757575;font-size:14px;padding:10px 35px 15px 30px;}

.company{background:#f5f5f5;padding:20px 0;}
.company .wrap{background:#fff;overflow:hidden;}
.company h3{font-size:28px;text-align:center;line-height:70px;padding-top:40px;color:#333;}
.company h4{font-size:20px;padding:0 0 30px 100px;color:#424242;}
.company h4.tit{padding-top:30px;padding-bottom:20px;}
.company .intro p{color:#616161;padding:10px 90px 0 100px;line-height:26px;}
.company .banner{width:1200px;height:380px;overflow:hidden;}
.company .slide_nav.next{display:none;}
.company .slide_nav.prev{display:none;}
.company .slide_tabs{right:600px;}
.company .intro_contact{padding:20px 0 60px 0;overflow:hidden;}
.company .intro_contact .qrcode{width:130px;padding:0 60px 0 100px;text-align:center;}
.company .intro_contact .qrcode p{padding:0;}
.company .intro_contact .qrcode img{width:130px;margin-bottom:8px;}
.company .intro_contact .address p{padding:0;}
.company .intro_contact .address .notice{color:#ff6700;padding-top:12px;}
.company .related_product{position:relative;padding-top:20px;}
.company .related_product .related_product_list{width:1000px;margin:0 auto;}
.company .related_product .related_product_list li{width:230px;margin-right:25px;}
.company .related_product .related_product_list li img{width:230px;}
.company .related_product .page a{position:absolute;width:40px;height:50px;background:#fff;border:1px solid #e0e0e0;background:url(../images/arrow3.png) 3px 5px;}
.company .related_product .page a.prev{left:30px;top:50px;}
.company .related_product .page a.next{right:30px;top:50px;background-position:38px 5px;}
.company .related_product .page a:hover{background-position:3px -79px;}
.company .related_product .page a.next:hover{background-position:38px -79px;}
.pager{text-align:right;padding:20px 20px 0;}
.pager ul li{display:inline-block;*display:inline;zoom:1;height:38px;line-height:38px;margin-left:5px;vertical-align:middle;}
.pager ul li a{color:#757575;display:block;width:34px;height:38px;text-align:center;overflow:hidden;background:#fff;border:1px solid #e0e0e0;}
.pager ul li a:hover, .pager ul li a.current{color:#ff6700;}
.pager ul li.pre_btn a em{display:block;width:20px;height:20px;background:url(../images/arrow2.png) 6px -1px;margin:8px 0 0 1px;}
.pager ul li.next_btn a em{display:block;width:20px;height:20px;background:url(../images/arrow2.png) 28px -1px;margin:8px 0 0 1px;}
.pager ul li.pre_btn a:hover em{background-position:6px -30px;}
.pager ul li.next_btn a:hover em{background-position:28px -30px;}

.detail_news{padding-top:20px;}
.detail_news .wrap{width:1000px;background:#fff;overflow:hidden;padding:0 100px 100px;}
.details_tab{height:78px;line-height:78px;border-bottom:1px solid #e0e0e0;padding-left:100px;overflow:hidden;}
.details_tab li{float:left;width:125px;line-height:78px;padding-left:45px;}
.details_tab li a{font-size:20px;display:block;width:125px;height:76px;text-align:center;}
.details_tab li a:hover{color:#00913a;border-bottom:2px solid #00913a;}
.details_tab li a.current{color:#00913a;border-bottom:2px solid #00913a;}
.news_list{clear:both;padding-top:20px;}
.news_list ul li{line-height:34px;}
.news_list ul li a{color:#616161;}
.news_list ul li a em{font-size:1px;display:inline-block;*display:inline;zoom:1;width:5px;height:5px;background:#616161;margin-right:10px;}
.guide{width:1200px;margin:0 auto;padding-bottom:20px;}
.guide a{font-size:12px;color:#757575;}
.product_detail{padding-top:35px;overflow:hidden;}
.product_detail .product_img{width:260px;float:left;padding-top:20px;}
.product_detail img{width:260px;height:400px;}
.product_info{float:right;width:620px;}
.product_info .product_info_part1{border-bottom:1px solid #f1f1f1;padding-bottom:30px;}
.product_info h4{font-size:22px;color:#333;}
.product_info .sub_tit{color:#757575;padding:5px 0 15px;}
.product_info .price{color:#ff6700;font-size:28px;}
.product_info .price .old_price{font-size:16px;color:#616161;text-decoration:line-through;padding-left:20px;}
.product_info .search{height:auto;padding:30px 0 0 0;}
.product_info .search_category{padding-bottom:20px;}
.product_info .search_category .search_key{width:95px;line-height:44px;}
.product_info .search_category ul{width:auto;}
.product_info .search_category ul li{width:150px;}
.product_info .search_category ul li a{display:block;width:128px;height:42px;line-height:42px;text-align:center;padding:0;background:#fff;border:1px solid #e0e0e0;font-size:16px;}
.product_info .search_category ul li a.current{border-color:#00913a;color:#00913a;}
.buy_box{position: relative;height:100px;padding-left:20px;padding-top:20px;}
.buy_box .buy_btn a {position: absolute;top: 20px;overflow: hidden;text-align:center;font-size:22px;width:42px;height:46px;border: 1px solid #e5e5e5;background:#eee;line-height: 46px;}
.buy_box .buy_btn .btn-reduce {left:20px;}
.buy_box .buy_btn .btn-add {left: 127px;}
.buy_box .buy_btn .text {width: 64px;height: 46px;margin-left: 42px;text-align: center;border: 1px solid #e5e5e5;outline: 0}
.buy_box .buy{float:left;margin-left:80px;width:150px;height:46px;background:#d4eee1;border:1px solid #1d9d51;color:#1d9d51;text-align:center;line-height:46px;}
.buy_box .shopping_car{float:left;margin-left:20px;width:150px;height:46px;background:#00913a;border:1px solid #00913a;color:#fff;text-align:center;line-height:46px;}
.detail_news .wrap_intro{margin-top:20px;padding:0 0 30px;width:1200px;}
.detail_news .wrap_intro .details_tab{padding-left:200px;}
.detail_news .wrap_intro .details_tab li a{color:#b0b0b0;}
.detail_news .wrap_intro .details_tab li a.current{border:none;color:#00913a;}
.intro_list{padding:0 100px;color:#616161;line-height:30px;}
.intro_list .intro_box .detail img{width:1000px;text-align:center;}
.intro_list .intro_box .intro{border-bottom:1px solid #e0e0e0;padding-bottom:25px;}
.intro_list .intro_box .intro.bdnone{border:none;padding:0;}
.intro_list .intro_box .intro li h4{font-size:16px;line-height:85px;}
.intro_list .intro_box .intro .notice{padding-bottom:10px;}
.intro_list .intro_box .intro_table{padding-top:10px;}
.intro_list .intro_box .intro_table li{height:40px;line-height:40px;overflow:hidden;}
.intro_list .intro_box .intro_table .intro_thead span{display:block;float:left;width:235px;}
.intro_list .intro_box .intro_table .intro_thead .bt{font-size:16px;}
.star_box{width:800px;height:130px;margin:40px auto 0;border:1px solid #e0e0e0;font-size:16px;}
.star_box .percent{width:200px;text-align:center;padding-left:70px;}
.star_box .percent .num{font-size:48px;font-family:"Arial";color:#00913a;padding:35px 0 15px;}
.star_box .stars{padding:50px 0 0 200px;}
.star_box .stars .txt{line-height:20px;}
.star{width:120px;height:20px;background:url(../images/star.png) 0 0;}
.star1{background-position:0 -30px;}
.star2{background-position:0 -60px;}
.star3{background-position:0 -90px;}
.star4{background-position:0 -120px;}
.star5{background-position:0 -150px;}
.comments_list li{height:120px;padding-top:25px;border-bottom:1px solid #e0e0e0;overflow:hidden;}
.comments_list li .img{width:70px;padding-right:18px;}
.comments_list li img{width:70px;height:70px;border-radius:50px;}
.comments_list li .user_info{width:200px;}
.comments_list li .user_info p{line-height:30px;color:#757575;overflow:hidden;}
.comments_list li .user_info .user_name .name{color:#333;float:left;width:100px;height:26px;overflow:hidden;}
.comments_list li .user_info .date{padding-bottom:10px;}
.comments_list li .comments{width:700px;color:#616161;}
.hf_page{width:1200px;margin:0 auto;}

/*login*/
.user_wrap{width:320px;margin:0 auto;padding-top:140px;}
.user_wrap .logo{padding:45px 0;text-align:center;}
.user_wrap .lenged{height:20px;border-top:2px solid #eee;color:#616161;position:relative;}
.user_wrap .lenged span{position:absolute;left:75px;top:-10px;background:#fff;padding:0 20px;font-size:16px;}
.register li{position:relative;overflow:hidden;padding-bottom:20px;}
.register input{width:288px;height:44px;line-height:44px;padding:0 15px;background:#f5f5f5;border:1px solid #e0e0e0;color:#b0b0b0;}
.register li label{position:absolute;line-height:44px; left:18px; color:#b0b0b0; font-size:14px; top:0;cursor:text;}
.register .reg_code input{width:180px;}
.reg_get_code a{display:block;width:85px;text-align:center;height:44px;line-height:44px;border:1px solid #e0e0e0;background:#fff;color:#616161;}
.register li.error{color:#f00;margin-top:-10px;padding-bottom:10px;}
.register li.reg_btn a{display:block;width:100%;height:44px;line-height:44px;text-align:center;color:#fff;background:#00913a;font-size:16px;}
.register li.argument{color:#757575;font-size:12px;line-height:22px;}
.register li.argument a{color:#333;}
.register li.get_pass{color:#757575;}
.register li.get_pass a{color:#00913a;}
.pop_mask{width:100%;height:100%;background:#000;opacity:0.15;position:absolute;left:0;top:0;}
.pop_content{position:absolute;width:400px;z-index:2;left:50%;top:50%;margin-left:-200px;margin-top:-170px;background:#fff;border-radius:5px;border:1px solid #bdbdbd;box-shadow:0 0 3px #bdbdbd;}
.pop_head{height:60px;line-height:60px;overflow:hidden;padding:0 20px;}
.pop_head .close{width:15px;height:15px;margin-top:20px;background:url(../images/close.gif) no-repeat;}
.pop_body .pop_login{padding-top:10px;}
.pop_body .pop_login li{padding-bottom:20px;overflow:hidden;width:317px;}
.pop_body .pop_login label{width:80px;text-align:right;line-height:44px;color:#424242;}
.pop_body{padding-left:20px;}
.pop_body .pop_login .input{float:left;height:44px;width:205px;border:1px solid #cacaca;padding:0 15px;line-height:44px;font-size:14px;}
.pop_body .pop_login .input_reg_code{float:left;height:44px;width:105px;border:1px solid #cacaca;padding:0 15px;line-height:44px;font-size:14px;}
.pop_body .pop_login .btn{display:block;width:120px;height:44px;line-height:44px;text-align:center;color:#fff;background:#00913a;font-size:16px;margin-left:25px;}

/*gouwuche*/
.cart_box{padding-top:20px;}
.cart_box .wrap{background:#fff;color:#424242;}
.cart-main .cart-thead {display: inline-block;display: block;height: 74px;line-height: 74px;margin: 0 0 10px;padding: 0 0 0 40px;border-bottom: 1px solid #e0e0e0;}
.cart-main .cart-thead .column {float: left;}
.cart-main .cart-thead .t-checkbox {height: 18px;line-height: 18px;padding-top: 28px; width: 145px;padding-left: 11px;}
.cart-main .cart-thead .t-goods {width: 290px;}
.cart-main .cart-thead .t-price {width: 160px;padding-right: 40px;}
.cart-main .cart-thead .t-quantity {width:240px;}
.cart-main .cart-thead .t-sum {width: 160px;}
.cart-main .cart-thead .t-action {width: 70px;}
.cart-main .checkbox{float: none; position: relative;z-index: 5;vertical-align: middle;_vertical-align: -1px;margin: 0 3px 0 0;padding: 0;}
.cart-checkbox {position: relative;z-index: 3;float: left;margin-right: 5px;}
.cart-tbody .shop {height: 50px;line-height: 50px;padding-left: 11px;background:#fafafa;padding-left:30px;}
.cart-list{padding:20px;}
.cart-item-list{border:1px solid #e0e0e0;margin-bottom:20px;}
.item-list {}
.cart-tbody .item-item .cell {float: left;padding: 15px 0 10px;}
.cart-tbody .item-item {position: relative;padding: 0 10px 1px 30px;border-top: 1px solid #e0e0e0;line-height: 20px; _height: 116px;background: #fff;overflow:hidden;}
.cart-tbody .item-item .p-checkbox {position: absolute;z-index: 3;left:30px;top: 0;width: 30px;min-height: 10px;_height: 10px;}
.cart-tbody .item-item .goods-item .p-img {float: left;width:100px;height: 100px;margin-right:35px;padding: 0;text-align: center;overflow: hidden;}
.cart-tbody .item-item .goods-item .p-img img{width:70px;height:100px;}
.cart-tbody .item-item .goods-item {display: block;}
.cart-tbody .item-item .goods-item .p-name {overflow: hidden;font-size:16px;line-height:30px;}
.cart-tbody .item-item .p-props {width: 80px;min-height: 10px;_height: 10px;padding: 15px 20px;}
.cart-tbody .item-item .p-props-new {width: 100px;height: 80px;line-height: 20px;overflow: hidden;padding: 15px 10px 0;}
.cart-tbody .item-item .p-goods {width: 370px;padding-right:50px;padding-left:20px;}
.cart-tbody .item-item .p-props-price {width:160px;padding-right:40px;line-height:22px;}
.cart-tbody .item-item .p-props-price .old{color:#b0b0b0;text-decoration:line-through;}
.cart-tbody .item-item .p-props-price .now{color:#333;}
.cart-tbody .item-item .p-props-price .jifen{color:#757575;}
.cart-tbody .item-item .p-props-quantity{width:240px;padding-left:0;}
.cart-tbody .item-item .p-props-quantity .buy_box{padding-left:0;padding-top:10px;}
.cart-tbody .item-item .p-props-quantity .buy_box .buy_btn .btn-reduce{left:0;top:10px;}
.cart-tbody .item-item .p-props-quantity .buy_box .buy_btn .btn-add{left:107px;top:10px;}
.cart-tbody .item-item .p-sum {width: 160px;padding-top:40px;color:#ff6700;font-family: verdana;font-size:16px;}
.cart-tbody .item-item .p-ops {width:70px;padding-top:45px;}
.cart-tbody .item-item .p-ops .cart-remove{width:12px;height:12px;display:block;background:url(../images/close2.gif) no-repeat 0 -1px;text-indent:-9999px;}
.options-box{margin-top:20px;padding:20px;width:1160px;}
.price-total{border-bottom:1px solid #e0e0e0;text-align:right;padding:20px;line-height:26px;}
.price-total p{padding-top:5px;}
.price-total p label{display:inline-block;width:150px;}
.price-total p span{display:inline-block;width:130px;}
.price-total .total{font-size:18px;color:#ff6700;}
.options-box .submit-btn{text-align:right;padding-top:20px;padding-right:20px;}
.options-box .submit-btn a{display:inline-block;*display:inline;zoom:1;width:150px;height:50px;line-height:50px;text-align:center;color:#fff;background:#00913a;font-size:18px;}
.cart-main .cart-thead .t-goods2{width:440px;}
.cart-tbody .item-item .p-goods2{width:320px;padding-right:115px;padding-left:0;}
.confirm-tit{height:30px;font-size:16px;padding:20px 20px 0 20px;overflow:hidden;}
.confirm-tit a{color:#00913a;font-size:14px;}
.checkout-steps{margin-bottom:20px;padding-bottom:20px;}
.consignee-cont{border:1px solid #e0e0e0;overflow:hidden;margin:20px;}
.consignee-cont ul{padding:0 0 20px 25px;}
.consignee-cont ul li{padding-top:20px;color:#424242;}
.consignee-cont ul li .name{font-weight:bold;width:130px;}
.consignee-cont ul li .name input{margin-right:5px;}
.consignee-cont ul li .address{width:360px;}
.consignee-cont ul li .tel{width:510px;}
.consignee-cont ul li .opt a{color:#00913a;margin-right:30px;}
.pay-style li{float:left;width:190px;height:60px;padding:20px 0 20px 20px;}
.pay-style li a{display:block;width:188px;height:58px;border:1px solid #e0e0e0;}
.pay-style li a.current{border:1px solid #00913a;}
.jifen_box{margin-bottom:20px;padding:40px 50px;width:1100px;overflow:hidden;}
.jifen_box .user_img{float:left;width:170px;padding-right:30px;}
.jifen_box .user_img img{width:170px;height:170px;border-radius:100px;}
.jifen_box .user_info{float:left;width:500px;color:#616161;}
.jifen_box .user_info p{padding-bottom:25px;}
.jifen_box .user_info a{color:#00913a;margin-left:20px;}
.jifen_box .user_info .name{font-size:18px;color:#333;}
.jifen_box .user_info .name a{font-size:14px;}
.jifen_box .jifen .total{font-size:16px;padding-bottom:25px;}
.jifen_box .jifen .num{font-size:30px;font-family:"Arial";color:#ff6700;padding-bottom:25px;}
.jifen_box .jifen .jifen_input .input{width:220px;height:44px;padding-right:20px;position:relative;}
.jifen_box .jifen .jifen_input .input input{width:178px;height:42px;line-height:42px;padding:0 20px;border:1px solid #e0e0e0;}
.jifen_box .jifen .jifen_input .input span{position:absolute;left:20px;top:12px;color:#757575;}

.wrap_user_info .cart-item-list{border-bottom:1px solid #e0e0e0;border-top:none;}
.wrap_user_info .cart-tbody .item-item{padding-left:0;line-height:35px;font-size:16px;letter-spacing:1px;color:#333;}
.wrap_user_info .cart-tbody .item-item .p-props-price{line-height:35px;}
.wrap_user_info .xxnr_btn{font-size:16px;}
.wrap_user_info .cart-tbody .item-item .p-goods{width:400px;}
.wrap_user_info .cart-tbody .item-item .goods-item .p-img{width:130px;text-align:left;}
.wrap_user_info .cart-tbody .item-item .p-props-price{width:200px;}
.wrap_user_info .cart-tbody .item-item .p-props-quantity{width:260px;}
.wrap_user_info .cart-tbody .item-item .f14{font-size:14px;color:#616161;}
.xxnr_btn_gray{background:#eee;color:#757575;}
.cart-main .details_tab{padding-left:0;}
.cart-main .details_tab li{padding:0 20px 0 10px;}
.cart-main .details_tab li a{font-size:14px;}
.cart-main .details_tab li a.current{border:none;}
.cart-main .details_tab li a:hover{border:none;}

.pop_pay_mask{width:100%;height:2000px;background:#000;opacity:0.15;position:absolute;left:0;top:0;}
.pop_pay p{padding-left:20px;}
.pop_pay_btn{margin:auto;width:270px}
.pop_pay_btn .btn{display:block;width:120px;height:44px;line-height:44px;text-align:center;color:#fff;background:#00913a;font-size:16px}

.pop_content_policy{position:absolute;height:80%;width:80%;z-index:2;left:50%;top:50%;margin-left:-40%;margin-top:-22%;background:#fff;border-radius:5px;border:1px solid #bdbdbd;box-shadow:0 0 3px #bdbdbd;}
.pop_content_policy_body{height:100%;}