<div class="filter">
	<div class="container">
		<div class="caption"><span class="fa fa-shopping-cart mr5"></span> @(订单管理)</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 m">
				<div data-component="textbox" data-component-path="orders.filter.search" data-placeholder="@(查找订单 ...)" data-control-icon="fa-search">@(查询订单)</div>
				<div class="help" data-component="template" data-component-path="orders.info"><script type="text/html">{{ count | pluralize(@('items','item','items','items')) }} / {{ pages | pluralize(@('pages','page','pages','pages')) }}</script></div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<!--<div data-component="dropdown" data-component-path="orders.filter.type" data-options="@(全部订单)|0;@(Uncompleted)|1;@(Uncompleted and not paid)|2;@(Uncompleted and paid)|3;@(Completed)|4" data-component-type="number"></div>-->
				<div data-component="dropdown" data-component-path="orders.filter.type" data-options="@(全部订单)|;@(待付款)|1;@(待发货)|2;@(已发货)|3;@(完成)|4;@(已关闭)|0" data-empty="true" data-empty-text="@(全部订单)">@(状态筛选)</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div data-component="grid" data-component-path="orders.grid" data-max="auto" data-options-page="@(Page: #)" data-options-button="@(查看更多订单)" data-component-id="orders.grid">
		<script type="text/html">
		<tr{{ if confirmed }} class="order-completed"{{ fi }}>
	        <td style="width:40px" class="silver hidden-xs" data-title="序号">$index</td>
	        <td style="width:80px" class="silver hidden-xs" data-title="订单号">{{ id }}</td>
	        <!--<td style="width:80px" class="silver hidden-xs" data-title="商品" title="{{ if products && products.length > 0 }}{{ products[0].name }}{{ fi }}">-->
	        	<!--{{ if products && products.length > 0 }}-->
		        	<!--{{ products[0].name }}-->
	        	<!--{{ fi }}-->
	        <!--</td>-->
            <td style="width:80px" class="silver hidden-xs ui-center" data-title="收货人">{{ consigneeName }}</br>{{ consigneePhone }}</td>
	        <td style="width:110px" class="silver hidden-xs ui-right" data-title="下单时间" title="{{ dateCreated | format('@(yyyy-MM-dd HH:mm:ss)') }}">{{ dateCreated | format('@(yyyy-MM-dd HH:mm:ss)') }}</td>
			<td style="width:80px" class="silver hidden-xs ui-center" data-title="下单用户">{{ buyerName }}</br>{{ buyerPhone }}</td>
	        <td style="width:80px" class="ui-right active" data-title="总金额" title="{{price | price(2)}}">{{ price | price(2) }} </td>
	        <td style="width:80px" class="ui-right active" data-title="定金" title="{{deposit | price(2)}}">{{ deposit | price(2) }} </td>
	        <td style="width:90px" data-title="状态">
	        	{{ if payStatus==1 }}
	        		<span class="mr5 red">未付款</span>
	        	{{ else }}
	        		{{ if payStatus==2 }}
	        			<span class="mr5 green">已付款</span>
	        		{{ else }}
		        		{{ if payStatus==3 }}
		        			<span class="mr5 red">部分付款</span>
		        		{{ else }}
			        		<span class="mr5 red">其他</span>
		        		{{ fi }}
	        		{{ fi }}
	        	{{ fi }}
	        	{{ if deliverStatus==1 }}
	        		<span class="red">未发货</span>
	        	{{ else }}
	        		{{ if deliverStatus==2 }}
	        			<span class="green">已发货</span>
	        		{{ else }}
	        			{{ if deliverStatus==3 }}
	        				<span class="red">部分发货</span>
	        			{{ else }}
			        		<span class="mr5 red">其他</span>
	        			{{ fi }}
	        		{{ fi }}
	        	{{ fi }}
	        </td>
	        <td style="width:50px" data-title="是否关闭">
	        	{{ if isClosed }}
	        		<span class="mr5 red">已关闭</span>
	        	{{ else }}
	        		<span class="mr5 green">未关闭</span>
	        	{{ fi }}
	        </td>
	        <td style="width:60px" data-title="订单状态类型">
	        	{{ if order && order.orderStatus && order.orderStatus.value }}
	        		{{ if order.orderStatus.type === 0 }}
						<span class="red">
					{{ else }}
						<span class="green">
					{{ fi }}
					{{order.orderStatus.value}}</span>
				{{ else }}
					-		
	        	{{ fi }}
	        </td>
	        <td style="width:60px" data-title="列表状态类型">
        		{{ if typeValue === 0 }}
	        		<span class="red">已关闭</span>
	        	{{ else }}
		        	{{ if typeValue === 1 }}
	        			<span class="green">待付款</span>
		        	{{ else }}
		        		{{ if typeValue === 2 }}
	        				<span class="green">待发货</span>
		        		{{ else }}
		        			{{ if typeValue === 3 }}
	        					<span class="green">已发货</span>
		        			{{ else }}
		        				{{ if typeValue === 4 }}
	        						<span class="green">已完成</span>
	        					{{ else }}
			        				-
			        			{{ fi }}
		        			{{ fi }}
		        		{{ fi }}
		        	{{ fi }}
		        {{ fi }}
	        </td>
	        <!-- <td style="width:20px" class="ui-right">
				<button name="edit" title="@(修改状态)"><span class="fa fa-pencil"></span></button>
			</td> -->
			<td style="width:20px" class="ui-right">
				<button name="edit" title="@(编辑)"><span class="fa fa-pencil"></span></button>
			</td>
		</tr>
		</script>
	</div>
</div>

<div data-component="form" data-title="@(订单详情)" data-component-path="common.form" data-if="value === 'orders'" data-width="1200px" data-component-id="orders.form" data-submitbutton="true">
	<br />
	<div class="padding">
		<div data-component="template" data-component-path="orders.form" class="padding">
			<script type="text/html">
			<table class="table table-bordered" border="0">
				<tbody>
					<tr>
						<td class="col-xs-5 active">@(# 订单号)</td>
						<td>{{ id }}</td>
					</tr>
					<tr>
						<td class="col-xs-5 active">@(下单时间)</td>
						<td>{{ dateCreated | format('@(yyyy-MM-dd HH:mm:ss)') }}</td>
					</tr>
					<tr>
						<td class="col-xs-5 active">@(总价)</td>
						<td>{{ price | price(2) }}</td>
					</tr>
	                <tr>
	                    <td class="col-xs-5 active">@(订金)</td>
	                    <td>{{ deposit | price(2) }}</td>
	                </tr>
	                <tr>
	                    <td class="col-xs-5 active">@(尾款)</td>
	                    <td>{{ (price-deposit) | toFixed(2) }}</td>
	                </tr>
	                <tr>
	                	<td class="col-xs-5 active">@(状态)</td>
		                <td>
				        	{{ if payStatus==1 }}
				        		<span class="mr5 red">未付款</span>
				        	{{ else }}
				        		{{ if payStatus==2 }}
				        			<span class="mr5 green">已付款</span>
				        		{{ else }}
					        		{{ if payStatus==3 }}
					        			<span class="mr5 red">部分付款</span>
					        		{{ else }}
						        		<span class="mr5 red">其他</span>
					        		{{ fi }}
				        		{{ fi }}
				        	{{ fi }}
				        	{{ if deliverStatus==1 }}
				        		<span class="red">未发货</span>
				        	{{ else }}
				        		{{ if deliverStatus==2 }}
				        			<span class="green">已发货</span>
				        		{{ else }}
				        			{{ if deliverStatus==3 }}
				        				<span class="red">部分发货</span>
				        			{{ else }}
						        		<span class="mr5 red">其他</span>
				        			{{ fi }}
				        		{{ fi }}
				        	{{ fi }}
				        </td>
			        </tr>
			        <tr>
			        	<td class="col-xs-5 active">@(是否关闭)</td>
				        <td>
				        	{{ if isClosed }}
				        		<span class="mr5 red">已关闭</span>
				        	{{ else }}
				        		<span class="mr5 green">未关闭</span>
				        	{{ fi }}
				        </td>
				    </tr>
			        <tr>
			        	<td class="col-xs-5 active">@(订单状态类型)</td>
					    <td>
			        	{{ if order && order.orderStatus && order.orderStatus.value }}
			        		{{ if order.orderStatus.type === 0 }}
								<span class="red">
							{{ else }}
								<span class="green">
							{{ fi }}
							{{order.orderStatus.value}}</span>
						{{ else }}
							-		
			        	{{ fi }}
			        	</td>
			        </tr>
			        <tr>
			        	<td class="col-xs-5 active">@(列表状态类型)</td>
			        	<td>
		        		{{ if orderType === 0 }}
			        		<span class="red">已关闭</span>
			        	{{ else }}
				        	{{ if orderType === 1 }}
			        			<span class="green">待付款</span>
				        	{{ else }}
				        		{{ if orderType === 2 }}
			        				<span class="green">待发货</span>
				        		{{ else }}
				        			{{ if orderType === 3 }}
			        					<span class="green">已发货</span>
				        			{{ else }}
				        				{{ if orderType === 4 }}
			        						<span class="green">已完成</span>
			        					{{ else }}
					        				-
					        			{{ fi }}
				        			{{ fi }}
				        		{{ fi }}
				        	{{ fi }}
				        {{ fi }}
			        	</td>
			        </tr>
			        <tr>
			        	<td class="col-xs-5 active">@(待付金额)</td>
			        	<td>
			        		{{ if duePrice }}
			        			<span class="green">{{ duePrice | price(2) }}</span>
			        		{{ else }}
		        				-
		        			{{ fi }}
			        	</td>
			        </tr>
				</tbody>
			</table>
			</script>
		</div>
	</div>
	<hr />

	<div class="padding" style="padding-bottom: 0px;padding-top: 0px;">
		<div class="silver"><strong>@(订单信息)</strong></div>
		<div class="padding">
			<div class="silver"><strong>@(收货人信息)</strong></div>
			<br />
			<div data-component="template" data-component-path="orders.form">
				<script type="text/html">
				<table class="table table-bordered" border="0">
					<tbody>
						<tr>
							<td class="col-xs-5 active">@(收货人)</td>
							<td>{{ consigneeName }}</td>
						</tr>
						<tr>
							<td class="col-xs-5 active">@(电话)</td>
							<td>{{ consigneePhone }}</td>
						</tr>
						<tr>
							<td class="col-xs-5 active">@(收货地址)</td>
							<td>{{ consigneeAddress }}</td>
						</tr>
						<!-- <tr>
							<td class="col-xs-5 active">@(收货站点)</td>
						</tr>
						<tr>
							<td class="col-xs-5 active">@(用户备注)</td>
						</tr> -->
					</tbody>
				</table>
				</script>
			</div>
		</div>
		<hr />
		<div class="padding" style="padding-top: 0px;">
			<div class="silver"><strong>@(支付信息)</strong></div>
			<br />
			<div class="silver"><strong>@(子订单信息)</strong></div>
			<br />
			<table class="table table-bordered suborderslist" border="0">
				<tbody data-component="template" data-component-path="orders.form">
					<script type="text/html">
						{{ if subOrders && subOrders.length > 0 }}
							<tr>
								<td class="ui-center active">@(序号)</td>
								<td class="ui-center col-xs-2 active">@(支付内容)</td>
								<td class="ui-center col-xs-1 active">@(支付状态)</td>
		                        <td class="ui-center col-xs-1 active">@(应支付金额)</td>
		                        <td class="ui-center col-xs-1 active">@(已支付金额)</td>
								<td class="ui-center col-xs-1 active">@(未支付金额)</td>
								<td class="ui-center col-xs-1 active">@(已支付次数)</td>
								<td class="ui-center col-xs-1 active">@(总支付次数)</td>
								<td class="ui-center col-xs-1 active">@(关闭支付次数)</td>
								<td class="ui-center col-xs-2 active">@(最后一次支付时间)</td>
							</tr>
							{{ foreach s in subOrders }}
							<tr>
								<td class="ui-center">{{ $index+1 }}</td>
								<td class="ui-center col-xs-2">
									{{ if s.type == 'deposit' }}
										阶段一：定金
									{{ else }}
										{{ if s.type == 'balance' }}
											阶段二：尾款
										{{ else }}
											{{ if s.type == 'full' }}
												全款
											{{ else }}
												其他
											{{ fi }}
										{{ fi }}
									{{ fi }}
								</td>
								<td class="ui-center col-xs-1">
									{{ if s.payStatus==1 }}
						        		<span class="mr5 red">未付款</span>
						        	{{ else }}
						        		{{ if s.payStatus==2 }}
						        			<span class="mr5 green">已付款</span>
						        		{{ else }}
							        		{{ if s.payStatus==3 }}
							        			<span class="mr5 red">部分付款</span>
							        		{{ else }}
								        		<span class="mr5 red">其他</span>
							        		{{ fi }}
						        		{{ fi }}
						        	{{ fi }}
								</td>
								<td class="ui-center col-xs-1" title="{{ s.price | price(2) }}">{{ s.price | price(2) }}</td>
		                        <td class="ui-center col-xs-1" title="{{ s.paidPrice | price(2) }}">{{ s.paidPrice | price(2) }}</td>
		                        <td class="ui-center col-xs-1" title="{{ (s.price - s.paidPrice) | toFixed(2) }}">{{ (s.price - s.paidPrice) | toFixed(2) }}</td>
								<td class="ui-center col-xs-1">{{ s.paidTimes }}</td>
								<td class="ui-center col-xs-1">{{ s.payments.length }}</td>
								<td class="ui-center col-xs-1">{{ s.closedTimes }}</td>
								<td class="ui-center col-xs-2">
									{{ if s.datePaid }}
										{{ s.datePaid | format('@(yyyy-MM-dd HH:mm:ss)') }}
									{{ else }}
										-
									{{ fi }}
								</td>
							</tr>
							{{ end }}
						{{ else }}
							<tr>
								<td class="ui-center col-xs-1 active">@(订单ID)</td>
								<td class="ui-center col-xs-1 active">@(支付ID)</td>
								<td class="ui-center col-xs-1 active">@(支付方式)</td>
								<td class="ui-center col-xs-1 active">@(支付状态)</td>
		                        <td class="ui-center col-xs-1 active">@(应支付金额)</td>
		                        <td class="ui-center col-xs-1 active">@(定金)</td>
								<td class="ui-center col-xs-1 active">@(尾款)</td>
								<td class="ui-center col-xs-1 active">@(支付完成时间)</td>
							</tr>
							<tr>
								<td class="ui-center col-xs-1">{{ id }}</td>
								<td class="ui-center col-xs-1">{{ paymentId }}</td>
								<td class="ui-center col-xs-1">
									{{ if payType }}
										{{ if payType==1 }}
											支付宝
										{{ else }}
											{{ if payType==2 }}
												银联
											{{ else }}
												其他
											{{ fi }}
										{{ fi }}
									{{ else }}
										-
									{{ fi }}
								</td>
		                        <td class="ui-center col-xs-1">
		                        	{{ if payStatus==1 }}
						        		<span class="mr5 red">未付款</span>
						        	{{ else }}
						        		{{ if payStatus==2 }}
						        			<span class="mr5 green">已付款</span>
						        		{{ else }}
							        		{{ if payStatus==3 }}
							        			<span class="mr5 red">部分付款</span>
							        		{{ else }}
								        		<span class="mr5 red">其他</span>
							        		{{ fi }}
						        		{{ fi }}
						        	{{ fi }}
		                        </td>
		                        <td class="ui-center col-xs-1">{{ price | price(2) }}</td>
								<td class="ui-center col-xs-1">{{ deposit | price(2) }}</td>
								<td class="ui-center col-xs-1">{{ (price - deposit) | toFixed(2) }}</td>
								<td class="ui-center col-xs-1">
									{{ if datePaid }}
										{{ datePaid | format('@(yyyy-MM-dd HH:mm:ss)') }}
									{{ else }}
										-
									{{ fi }}
								</td>
							</tr>
						{{ fi }}
					</script>
				</tbody>
			</table>
			<div data-component="template" data-component-path="orders" class="paymentslist">
				<script type="text/html">
				{{ if form.subOrders && form.subOrders.length > 0 }}
					<br />
					<div class="silver"><strong>@(子订单支付详情)</strong></div>
					<br />
					<table class="table table-bordered" border="0">
						<tbody>
							<tr>
								<td class="ui-center active">@(支付内容)</td>
								<td class="ui-center active">@(序号)</td>
								<td class="ui-center col-xs-1 active">@(支付ID)</td>
								<td class="ui-center col-xs-1 active">@(笔数)</td>
		                        <td class="ui-center col-xs-1 active">@(支付金额)</td>
		                        <td class="ui-center col-xs-1 active">@(支付方式)</td>
								<td class="ui-center col-xs-1 active">@(支付状态)</td>
								<td class="ui-center col-xs-1 active">@(是否关闭)</td>
								<td class="ui-center col-xs-2 active">@(支付时间)</td>
								<td class="ui-center col-xs-2 active">@(修改支付状态)</td>
							</tr>
							{{ foreach s in form.subOrders }}
								{{ foreach p in s.payments }}
								<tr>
									<td class="ui-center">
									{{ if s.type == 'deposit' }}
										阶段一：定金
									{{ else }}
										{{ if s.type == 'balance' }}
											阶段二：尾款
										{{ else }}
											{{ if s.type == 'full' }}
												全款
											{{ else }}
												其他
											{{ fi }}
										{{ fi }}
									{{ fi }}
									</td>
									<td class="ui-center">{{ $index+1 }}</td>
									<td class="ui-center col-xs-1">{{ p.id }}</td>
									<td class="ui-center col-xs-1">第{{ p.slice }}笔</td>
			                        <td class="ui-center col-xs-1">{{ p.price | price(2) }}</td>
			                        <td class="ui-center col-xs-1">
			                        {{ if p.payType }}
										{{ if p.payType==1 }}
											支付宝
										{{ else }}
											{{ if p.payType==2 }}
												银联
											{{ else }}
												其他
											{{ fi }}
										{{ fi }}
									{{ else }}
										-
									{{ fi }}
			                        </td>
									<td class="ui-center col-xs-1">
									{{ if p.payStatus==1 }}
						        		<span class="mr5 red">未付款</span>
						        	{{ else }}
						        		{{ if p.payStatus==2 }}
						        			<span class="mr5 green">已付款</span>
						        		{{ else }}
						        			<span class="mr5 red">其他</span>
						        		{{ fi }}
						        	{{ fi }}
									</td>
									<td class="ui-center col-xs-1">
									{{ if p.isClosed && p.payStatus == 1 }}
						        		<span class="mr5 red">已关闭</span>
						        	{{ else }}
						        		<span class="mr5 green">未关闭</span>
						        	{{ fi }}
									</td>
									<td class="ui-center col-xs-2">
									{{ if p.datePaid }}
										{{ p.datePaid | format('@(yyyy-MM-dd HH:mm:ss)') }}
									{{ else }}
										-
									{{ fi }}
									</td>
									<td class="ui-center col-xs-2">
										<select data-name="payStatus" data-id="{{ p.id }}" data-suborderid="{{ s.id }}" data-suborderindex="{{ s.$index }}" data-paymentindex="{{ $index }}">
										{{ foreach ps in payStatuses }}
											<option value="{{ ps.value }}" {{ if p.payStatus == ps.value }}selected{{ fi }}>{{ ps.name }}
											</option>
										{{ end }}
										</select>
									</td>
								</tr>
								{{ end }}
							{{ end }}
						</tbody>
					</table>
					
					<!-- <div class="ui-buttons">
						<button name="submit" data-name="suborders">@(提交修改)</button>
					</div> -->
				{{ fi }}
				</script>
			</div>
			<div data-component="visible" class="ui-buttons" data-component-path="orders.form.subOrders" data-if="orders.form.subOrders && orders.form.subOrders.length > 0">
				<button name="submit" data-name="subOrders">@(提交修改)</button>
			</div>
			<div data-component="error" data-component-path="orders.form.subOrders.response"></div>
		</div>
		<hr />

		<div class="padding" style="padding-top: 0px;">
			<div data-component="template" data-component-path="orders" class="productslist">
			<script type="text/html">
			<!-- <div class="padding" style="padding-top: 0px;"> -->
				{{ if form.products && form.products.length > 0 }}
					<div class="silver"><strong>@(订单商品)</strong></div>
					<br />
					<table class="table table-bordered" border="0">
					<!-- <table class="table table-bordered checkoutlist" border="0">
						<tbody data-component="template" data-component-path="orders">
							<script type="text/html"> -->
						<tbody>
							<tr>
								<td class="ui-center col-xs-2 hidden-xs active">@(商品ID)</td>
								<td class="ui-center col-xs-3 hidden-xs active">@(商品名称)</td>
		                        <td class="ui-center col-xs-2 active">@(单价)</td>
		                        <td class="ui-center col-xs-2 active">@(订金)</td>
								<td class="ui-center col-xs-2 active">@(数量)</td>
								<td class="ui-center col-xs-2 active">@(发货状态)</td>
							</tr>
							{{ foreach p in form.products }}
							<tr>
								<td class="ui-center col-xs-2 hidden-xs">{{ p.id }}</td>
								<td class="ui-center col-xs-3 hidden-xs" title="{{ p.name }}">{{ p.name }}</td>
		                        <td class="ui-center col-xs-2">{{ p.price | price(2) }}</td>
		                        <td class="ui-center col-xs-2">{{ p.deposit | price(2) }}</td>
								<td class="ui-center col-xs-2 active">{{ p.count }}x</td>
								<td class="ui-center col-xs-2">
									<select data-name="deliverStatus" data-id="{{ p.id }}">
									{{ foreach d in deliverStatuses }}
										<option value="{{ d.value }}" {{ if p.deliverStatus == d.value }}selected{{ fi }}>{{ d.name }}
										</option>
									{{ end }}
									</select>
								</td>
							</tr>
							{{ end }}
						</tbody>
					</table>
				{{ fi }}
			</script>
			</div>

			<!-- <div class="ui-buttons">
				<button name="submit" data-name="products">@(提交修改)</button>
			</div>
			<div data-component="error" data-component-path="orders.form.products.response"></div> -->
			<div data-component="visible" class="ui-buttons" data-component-path="orders.form.products" data-if="orders.form.products && orders.form.products.length > 0">
				<button name="submit" data-name="products">@(提交修改)</button>
			</div>
			<div data-component="error" data-component-path="orders.form.products.response"></div>
		</div>

		<div class="padding" style="padding-top: 0px;">
			<div data-component="template" data-component-path="orders" class="SKUslist">
			<script type="text/html">
				{{ if form.SKUs && form.SKUs.length > 0 }}
					<div class="silver"><strong>@(订单商品SKU)</strong></div>
					<br />
					<table class="table table-bordered" border="0">
						<tbody>
							<tr>
								<td class="ui-center hidden-xs active">@(商品ID)</td>
								<td class="ui-center hidden-xs active">@(商品SKU ID)</td>
								<td class="ui-center col-xs-4 hidden-xs active">@(商品名称)</td>
		                        <td class="ui-center col-xs-2 active">@(单价)</td>
		                        <td class="ui-center col-xs-2 active">@(订金)</td>
								<td class="ui-center col-xs-1 active">@(数量)</td>
								<td class="ui-center col-xs-4 active">@(附加项)</td>
								<td class="ui-center col-xs-2 active">@(发货状态)</td>
							</tr>
							{{ foreach s in form.SKUs }}
							<tr>
								<td class="ui-center hidden-xs">{{ s.productId }}</td>
								<td class="ui-center hidden-xs">{{ s.ref }}</td>
								<td class="ui-center col-xs-4 hidden-xs" title="{{ s.name }}">{{ s.name }}</td>
		                        <td class="ui-center col-xs-2">{{ s.price | price(2) }}</td>
		                        <td class="ui-center col-xs-2">{{ s.deposit | price(2) }}</td>
								<td class="ui-center col-xs-1">{{ s.count }}x</td>
								<td class="ui-center col-xs-4">
									{{ if s.additions && s.additions.length > 0 }}
										{{ foreach addition in s.additions }}
											{{ addition.name }} - {{ addition.price | price(2) }}
										{{ end }}
									{{ else }}
										-
									{{ fi }}
								</td>
								<td class="ui-center col-xs-2">
									<select data-name="deliverStatus" data-id="{{ s.ref }}">
									{{ foreach d in deliverStatuses }}
										<option value="{{ d.value }}" {{ if s.deliverStatus == d.value }}selected{{ fi }}>{{ d.name }}
										</option>
									{{ end }}
									</select>
								</td>
							</tr>
							{{ end }}
						</tbody>
					</table>
				{{ fi }}
			</script>
			</div>

			<div data-component="visible" class="ui-buttons" data-component-path="orders.form.SKUs" data-if="orders.form.SKUs && orders.form.SKUs.length > 0">
				<button name="submit" data-name="SKUs">@(提交修改)</button>
			</div>
			<div data-component="error" data-component-path="orders.form.SKUs.response"></div>
		</div>
	</div>
	<!-- <div data-component="error" data-component-path="orders.response"></div> -->
	<div class="ui-form-buttons">
		<!-- <div data-component="validation" data-component-path="orders.form" data-if="orders.form.products.length > 0">
			<button name="submit">@(确定)</button>
		</div> -->
		<button name="cancel">@(关闭)</button>
	</div>
</div>

<script>
	var orders = {};

	orders.filter = {};
	orders.filter.page = 1;

	orders.grid = [];
	orders.form = {};
	orders.info = {};
	// orders.deliverStatuses = [{name:'未发货',value:1},{name:'已发货',value:2}];
	// orders.form.payStatuses = [{name:'未支付',value:1},{name:'已支付',value:2}];
	orders.response;

	ON('#orders.grid', function(component) {

		// Max items per page
		orders.filter.max = component.max;
		orders_refresh(true);

		component.click = function(index, row, button) {
			switch ($(button).attr('name')) {
				case 'edit':
					$.components.GET(managerurl + '/api/orders/' + row.id, null, function(response, err) {
						// Error prevention
						if (response instanceof Array) {
							response = {};
						} else {
							if (response && response.code && response.code==1000 && response.datas) {
								response = response.datas;
							} else {
								response = {};
							}
						}

						SET('orders.form', $.extend({}, response), true);
                        SET('orders.payStatuses',[{name:'未付款',value:1},{name:'已付款',value:2}], true);
                        SET('orders.deliverStatuses',[{name:'未发货',value:1},{name:'已发货',value:2}], true);
						SET('orders.response', null);
						SET('common.form', 'orders');
					});
					break;
			}
		};

		component.next = function(page) {
			orders.filter.page = page;
			orders_refresh();
		};
	});

	ON('#orders.form', function(component) {

		component.submit = function(hide, button) {
			var dataname = $(button).attr('data-name');
			if (dataname) {
				if (orders.form[dataname]) {
					var postdata = {};
					var posturl = managerurl + '/api/orders/' + dataname;
					postdata['id'] = orders.form.id;
					postdata[dataname] = orders.form[dataname];
					$.components.PUT(posturl, postdata, function(response) {

						var responsekey = 'orders.form.' + dataname + '.response';

						if (response && response.code && parseInt(response.code) !== 1000) {
							if (response.error)
								response = response.error;
							else
								response = [];
						}
						// Error handling
						SET(responsekey, response);
						if (response instanceof Array)
							return;
						hide();
						orders_refresh(true);
						success();
					});

				}
			}
		};

		$('.paymentslist').on('change', 'select', function() {
			var el = $(this);
			var paymentid = el.attr('data-id');
			var name = el.attr('data-name');
			var subOrderid = el.attr('data-suborderid');
			switch (name) {
				case 'payStatus':
					var value = el.val();
					orders_form_update(subOrderid, {'name':'subOrders','paymentid':paymentid}, function(item) {
						if (item) {
							item[name] = parseInt(value);
							component.changedisabled_botton('subOrders');
							orders_form_refresh();
						}
					});
					
					break;
			}
		});

		$('.productslist').on('change', 'select', function() {
			var el = $(this);
			var id = el.attr('data-id');
			var name = el.attr('data-name');
			switch (name) {
				case 'deliverStatus':
					var value = el.val();
					orders_form_update(id, {'name':'products'}, function(item) {
						if (item) {
							item[name] = parseInt(value);
							component.changedisabled_botton('products');
							orders_form_refresh();
						}
					});
					break;
			}
		});

		$('.SKUslist').on('change', 'select', function() {
			var el = $(this);
			var id = el.attr('data-id');
			var name = el.attr('data-name');
			switch (name) {
				case 'deliverStatus':
					var value = el.val();
					orders_form_update(id, {'name':'SKUs'}, function(item) {
						if (item) {
							item[name] = parseInt(value);
							component.changedisabled_botton('SKUs');
							orders_form_refresh();
						}
					});
					break;
			}
		});

		component.changedisabled_botton = function (name) {
			component.element.find('button').each(function() {
				switch (this.name) {
					case 'submit':
						if ($(this).attr('data-name') === name) {
							var el = $(this);
							el.prop({ disabled: false });
						}
						break;
				}
			});
		}

		// Removes selected oredered item
		// $('.checkoutlist').on('click', '.fa-times-circle', function(e) {
		// 	orders_form_update($(this).attr('data-id'), function(item, index) {
		// 		orders.form.products.splice(index, 1);
		// 		orders_form_refresh();
		// 	});
		// });

		// Handles all inputs in ordered items
		// $('.checkoutlist').on('change', 'input', function() {
		// 	var el = $(this);
		// 	var id = el.attr('data-id');
		// 	var name = el.attr('data-name');
		// 	switch (name) {
		// 		case 'name':
		// 		case 'reference':
		// 			orders_form_update(id, function(item) {
		// 				item[name] = el.val();
		// 			});
		// 			break;
		// 		case 'price':
		// 		case 'count':
		// 			var number = el.val().match(/[0-9\,\.]+/);
		// 			if (!number)
		// 				return;
		// 			number = parseFloat(number);
		// 			if (isNaN(number))
		// 				return;
		// 			orders_form_update(id, function(item) {
		// 				item[name] = number;
		// 			});
		// 			orders_form_refresh();
		// 			break;
		// 	}
		// });
	});

	

	// Method refreshes grid
	function orders_refresh(reset) {

		if (reset) {
			orders.filter.page = 1;
			orders.grid = [];
		}
		if (typeof(orders.filter.type) !== 'undefined' && orders.filter.type !== null && orders.filter.type.length == 0) {
			delete orders.filter.type;
		}

		$.components.GET(managerurl + '/api/orders/', orders.filter, function(response) {
			// Error prevention
			if (response instanceof Array) {
				response = {};
			} else {
				if (response && response.code && response.code==1000 && response.datas) {
					response = response.datas;
				} else {
					response = {};
				}
			}
			SET((reset ? '' : '+') + 'orders.grid', response.items);
			if (!reset)
				return;
			orders.info.count = response.count;
			orders.info.pages = response.pages;
			UPDATE('orders.info');
		});
	}

	// Method appends a new item into the ordered items
	function orders_form_add() {
		PUSH('orders.form.products', { id: Date.now() + '', reference: '', name: '', price: 1, count: 1 });
	}

	// Watchs changes in order filter
	Delay_Search_WATCH('orders.filter.*', function(path, value) {
		if (NOTMODIFIED('orders.filter', orders.filter))
			return;
		orders_refresh(path !== 'orders.filter.page');
	});

	// Method finds ordered item by its id
	function orders_form_update(id, options, callback) {
		var name = options && options['name'] ? options['name']: '';
		switch (name) {
			case 'subOrders':
				var paymentid = options && options['paymentid'] ? options['paymentid']: null;
				if (!paymentid) {
					callback(null);
					break;
				}
				for (var i = 0, length = orders.form.subOrders.length; i < length; i++) {
					var subOrder = orders.form.subOrders[i];
					if (subOrder.id === id && subOrder.payments) {
						for (var j = 0, length = subOrder.payments.length; j < length; j++) {
							var payment = subOrder.payments[j];
							if (payment.id === paymentid) {
								callback(payment, i, j);
								break;
							}
						}
						callback(null);
						break;
					}
				}
				callback(null);
				break;
			case 'products':
				for (var i = 0, length = orders.form.products.length; i < length; i++) {
					var p = orders.form.products[i];
					if (p.id === id) {
						callback(p, i);
						break;
					}
				}
				callback(null);
				break;
			case 'SKUs':
				for (var i = 0, length = orders.form.SKUs.length; i < length; i++) {
					var s = orders.form.SKUs[i];
					if (s.ref === id) {
						callback(s, i);
						break;
					}
				}
				callback(null);
				break;
		}
	}

	// Method calculates prices and count in ordered items
	function orders_form_refresh(attr) {
		// var count = 0;
		// var price = 0;

		// for (var i = 0, length = orders.form.products.length; i < length; i++) {
		// 	var p = orders.form.products[i];
		// 	count += p.count;
		// 	price += p.count * p.price;
		// }

		// orders.form.price = price;
		// orders.form.count = count;
		if (attr) {
			var key = 'orders.form.' + attr;
			UPDATE(key);
		} else {
			UPDATE('orders.form');
		}
		
	}

	Tangular.register('sum', function(value, format) {
		return (value * this.count).format(format) + ' ' + currency;
	});

</script>