<div class="filter" style="padding-bottom:9px">
	<div class="container">
		<div class="caption"><span class="fa fa-dashboard mr5"></span>数据中心</div>
	</div>
</div>

<div class="container dashboard">
	<div class="filter col-md-2" style="padding: 25px 15px;">
		<h3 class="ui-left">经营数据</h3>
        <ul class="dashboard-sidebar">
            <li name="daily">- 每日概况</li>
            <li name="weekly">- 每周业绩</li>
            <li class="cl"></li>
        </ul>
        <br />
        <h3 class="ui-left">经纪人数据</h3>
        <ul class="dashboard-sidebar">
            <li name="agentRank">- 业绩排行</li>
            <li name="agentPerformance">- 汇总排行</li>
            <li class="cl"></li>
        </ul>
        <br />
        <h3 class="ui-left"><a class="selected">数据说明</a></h3>
    </div>
    <div class="col-md-10">
		<div class="mb50">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="ui-left">数据中心报告说明</h3>
                </div>
                <div class="col-md-12">
                    <ul class="tabmenu">
                        <li class="noborder underline">经营数据</li>
                        <li class="noborder">经纪人业绩</li>
                    </ul>
                </div>
                <div class="col-md-12 introductions">
                    <div class="type selected">
                        <p class="col-md-12">经营数据：定期关注业务指标进展和趋势；订单数据已剔除公司员工的测试订单</p>
                        <div class="col-md-12 chart-buttons">
                            <div class="selected">每日概况</div>
                            <div>每周业绩</div>
                        </div>
                        <div class="col-md-12 details">
                            <div class="selected">
                                <p class="mt20">1. 每日概况指标说明</p>
                                <p class="mt20">a) 今日实时数据（每小时实时更新）</p>
                                <p>- 注册用户数：当日新注册的用户数</p>
                                <p>- 新增经纪人：当日被认证为经纪人的用户数</p>
                                <p>- 新增订单数：当日新下单的订单数</p>
                                <p>- 付款订单数：当日新订单中，部分付款或已付款的订单</p>
                                <p>- 已支付金额：当日新订单中，合计共支付的金额</p>
                                <p class="mt20">b) 昨日统计数据（每天晚上24点更新）</p>
                                <p>- 注册用户数：昨日新注册的用户数</p>
                                <p>- 新增经纪人：昨日被认证为经纪人的用户数</p>
                                <p>- 新增订单数：昨日新下单的订单数</p>
                                <p>- 付款订单数：昨日新订单中，部分付款或已付款的订单</p>
                                <p>- 已支付金额：昨日新订单中，合计共支付的金额</p>
                                <p class="mt20">c) 累计数据（从开始运营至昨天的累计数据，每天晚上24点更新）</p>
                                <p>- 总用户数：累计注册用户数</p>
                                <p>- 总经纪人数：当前用户中，被认证为经纪人的用户数</p>
                                <p>- 总订单数：累计订单数</p>
                                <p>- 已完成订单数：累计已完成的订单数量</p>
                                <p>- 已完成金额：累计已完成订单的金额（元）</p>
                                <p class="mt20">d）业务趋势：</p>
                                <p>- 注册用户数：选择时间段内注册用户数</p>
                                <p>- 经纪人数：选择时间段内，被认证为经纪人的用户数</p>
                                <p>- 下单订单数：选择时间段内，累计订单数</p>
                                <p>- 付款订单数：选择时间段内新下的订单，部分付款或已付款的订单数</p>
                                <p>- 已支付金额：累计已支付的金额（元）</p>
                            </div>
                            <div>
                                <p class="mt20">2. 每周业绩指标说明</p>
                                <p class="mt20">a) 本周动态数据（本周一~当天实时；每小时实时更新）</p>
                                <p>- 注册用户数：本周新注册的用户数</p>
                                <p>- 新增经纪人：本周被认证为经纪人的用户数</p>
                                <p>- 新增订单数：本周新下单的订单数</p>
                                <p>- 付款订单数：本周新订单中，部分付款或已付款的订单</p>
                                <p>- 已支付金额：本周新订单中，合计共支付的金额</p>
                                <p class="mt20">b) 上周统计数据（上周一 ~ 上周日）</p>
                                <p>- 注册用户数：上周新注册的用户数</p>
                                <p>- 新增经纪人：上周被认证为经纪人的用户数</p>
                                <p>- 新增订单数：上周新下单的订单数</p>
                                <p>- 付款订单数：上周新订单中，部分付款或已付款的订单</p>
                                <p>- 已支付金额：上周新订单中，合计共支付的金额</p>
                                <p class="mt20">c）业务趋势：</p>
                                <p>- 注册用户数：选择时间段内注册用户数</p>
                                <p>- 经纪人数：选择时间段内，被认证为经纪人的用户数</p>
                                <p>- 下单订单数：选择时间段内，累计订单数</p>
                                <p>- 付款订单数：选择时间段内新下的订单，部分付款或已付款的订单数</p>
                                <p>- 已支付金额：累计已支付的金额（元）</p>
                            </div>
                        </div>
                    </div>
                    <div class="type">
                        <p class="col-md-12">经纪人数据：跟踪经纪人发展客户力度，以及订单的完成进度</p>
                        <div class="col-md-12 chart-buttons">
                            <div class="selected">每日排行</div>
                            <div>汇总排行</div>
                        </div>
                        <div class="col-md-12 details">
                            <div class="selected">
                                <p class="mt20">1. 每日排行指标说明</p>
                                <p class="mt20">a) 前一天的数据（每天早上4点更新）</p>
                                <p>- 昨日新增客户：新绑定该经纪人为代表的用户数</p>
                                <p>- 昨日登记客户：新登记的潜在客户数</p>
                                <p class="mt20">b) 累计统计数据（每天早上4点更新）</p>
                                <p>- 总客户：该经纪人共绑定的客户数</p>
                                <p>- 总发展经纪人：该经纪人的总客户中，被认证为经纪人的用户数</p>
                                <p>- 总登记客户：该经纪人共登记的客户数</p>
                                <p>- 已完成订单：该经纪人的客户所下订单中，累计已完成的订单数</p>
                                <p>- 已完成金额：该经纪人的客户所下订单中，累计已完成的订单的总支付金额</p>
                            </div>
                            <div>
                                <p class="mt20">2. 汇总排行指标说明</p>
                                <p class="mt20">a) 业绩进度汇总数据：统计时间段内指标实现情况</p>
                                <p>- 新增客户：选择时间段内，新绑定该经纪人为代表的用户数</p>
                                <p>- 新增经纪人：选择时间段内，新增客户中，被认证为经纪人的用户数</p>
                                <p>- 新登记客户：选择时间段内，新登记的潜在客户数</p>
                                <p>- 新增订单数：选择时间段内，该经纪人的客户新增的订单数（客户只要下了订单，就计算）</p>
                                <p>- 新增订单完成数：上述新增订单中，已完成的订单数</p>
                                <p class="mt20">b) 完成订单汇总数据：统计时间段内完成的订单数量及金额</p>
                                <p>- 完成订单数：选择时间段内，被完成的订单数（与下单时间无关）</p>
                                <p>- 完成订单金额：选择时间段内，被完成的订单中，订单的总支付金额</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.tabmenu li').on('click', function(){
        var el = $(this);
        var i = $(this).index();
        if (el.hasClass('underline')) {
            return;
        }
        $('.tabmenu li').each(function() {
            $(this).removeClass('underline');
        });
        el.addClass('underline');

        $(".introductions .type").removeClass('selected');
        $(".introductions .type").eq(i).addClass('selected');
    });
    $('.chart-buttons div').on('click', function(){
        var el = $(this);
        var i = $(this).index();
        if (el.hasClass('selected')) {
            return;
        }

        el.parent(".chart-buttons").children('div').each(function() {
            $(this).removeClass('selected');
        });
        el.addClass('selected');

        el.parent(".chart-buttons").parent(".type").children(".details").children("div").each(function() {
            $(this).removeClass('selected');
        });
        el.parent(".chart-buttons").parent(".type").children(".details").children("div").eq(i).addClass('selected');
    });
</script>