<div class="filter" style="padding-bottom:9px">
	<div class="container">
		<div class="caption"><span class="fa fa-users mr5"></span> 会员管理&nbsp;&nbsp;&nbsp;&nbsp;<a href="/$manager/potentialcustomers"><h6 class="nopadding inline">查看潜在用户</h6></a></div>
		<div class="row">
			<div class="col-md-3 col-sm-6 m">
				<div data-component="textbox" data-component-path="users.filter.search" data-placeholder="姓名/昵称/手机号" data-control-icon="fa-search">查询用户</div>
				<div class="help" data-component="template" data-component-path="users.info"><script type="text/html">{{ count | pluralize('items','item','items','items') }} / {{ pages | pluralize('pages','page','pages','pages') }}</script></div>
			</div>
            <div class="col-md-3" col-sm-6 m>
                <div name="user_verify" data-component="dropdown" data-component-path="users.filter.query" data-options="全部|0;申请认证|3;县级经销商|7;新农经纪人|8">认证用户</div>
            </div>
		</div>
	</div>
</div>

<div class="container">
	<div data-component="grid" data-component-path="users.grid" data-max="auto" data-options-page="Page: #" data-options-button="查看更多客户" data-component-id="users.grid">
		<!-- <tr>
			<td>会员</td>
			<td style="width:220px" class="hidden-xs fs11">账号</td>
			<td style="width:120px" class="hidden-xs fs11">昵称</td>
			<td style="width:120px" class="hidden-xs fs11">积分</td>
			<td style="width:200px" class="ui-right hidden-xs">注册时间</td>
			<td style="width:80px" class="ui-right">操作</td>
		</tr> -->
		<script type="text/html">
		<tr>
			<td style="width:40px" class="silver hidden-xs">$index</td>
			<td style="width:120px" class="hidden-xs fs11" data-title="会员" title="{{ id }}">{{ id }}</td>
            <td style="width:120px" class="hidden-xs fs11" data-title="手机号">{{ account }}</td>
            <td style="width:120px" class="hidden-xs fs11" data-title="姓名">{{ name }}</td>
			<td style="width:120px" class="hidden-xs fs11" data-title="昵称">{{ nickname }}</td>
            <td style="width:60px" class="hidden-xs fs11" data-title="积分">{{ score }}</td>
            <td style="width:100px" class="hidden-xs fs11" data-title="注册来源">{{ registerAgent }}</td>
            <td style="width:160px" class="ui-right hidden-xs" data-title="注册时间">
				{{ if datecreated }}
                    {{ if datecreated.charAt(datecreated.length-1) !== 'Z' }}
                        {{ datecreated }}
                    {{ else }}
                        {{ datecreated | format('yyyy-MM-dd hh:mm:ss') }}
                    {{ fi }}
				{{ fi }}
			</td>
            <td style="width:100px" class="hidden-xs fs11 ui-center" data-title="新农代表">{{if inviter }} {{ inviter.name }}</br>{{ inviter.account }} {{fi}}</td>
            <td style="width:100px" class="hidden-xs fs11" data-title="认证用户" title="{{ typeNameVerified }}">{{ typeNameVerified }}</td>
            <td style="width:80px" class="ui-right" data-title="会员信息">
                <button name="edit" title="Show"><span class="fa fa-search"></span></button>
            </td>
            <td style="width:80px" class="ui-right" data-title="订单信息">
                <button name="order" title="Show"><span class="fa fa-search"></span></button>
            </td>
		</tr>
		</script>
	</div>
	<!-- <button name="remove" title="Remove"><span class="fa fa-times"></span></button> -->
</div>
<div data-component="form" data-title="会员信息" data-component-path="common.form" data-if="value === 'users'" data-width="900px" data-component-id="users.form">
	<div style="background:#F8F8F8">
		<div class="multi_form">
			<div class="form_tab">
				<div id="user_info_button" class="form_tab_selected">用户详情</div>
				<div id="RSC_info_button">县级经销商信息</div>
				<div id="agent_info_button">新农经纪人信息</div>
			</div>
			<div id="user_info" class="form">
				<div data-component="template" data-component-path="users" class="padding" style="padding-bottom:0">
					<script type="text/html">
						<h3 class="nopadding">基本信息</h3>
						<table class="table table-bordered" border="0">
							<tbody>
							<tr>
								<td class="col-xs-4 active"># id</td>
								<td>{{ form.id }}</td>
							</tr>
							<tr>
								<td class="col-xs-4 active">账户</td>
								<td>{{ form.account }}</td>
							</tr>
							<tr>
								<td class="col-xs-4 active">姓名</td>
								<td>{{ form.name }}</td>
							</tr>
							<tr>
								<td class="col-xs-4 active">所在地区</td>
								<td>{{ form.addressShow }}</td>
							</tr>
							<tr>
								<td class="col-xs-4 active">昵称</td>
								<td>{{ form.nickname }}</td>
							</tr>
							<tr>
								<td class="col-xs-4 active">用户积分</td>
								<td>{{ form.score }}</td>
							</tr>
							{{ if form.datecreated }}
							<tr>
								<td class="col-xs-4 active">注册时间</td>
								<td>
									{{ if form.datecreated.charAt(form.datecreated.length-1) !== 'Z' }}
									{{ form.datecreated }}
									{{ else }}
									{{ form.datecreated | format('yyyy-MM-dd hh:mm:ss') }}
									{{ fi }}
								</td>
							</tr>
							{{ fi }}
							<tr>
								<td class="col-xs-4 active">注册设备</td>
								{{ if form.registerAgent }}
								<td>{{ form.registerAgent }}</td>
								{{ else }}
								<td>无</td>
								{{ fi }}
							</tr>
							<tr>
								<td class="col-xs-4 active">性别</td>
								{{ if form.sex }}
									<td>女</td>
								{{ else }}
									<td>男</td>
								{{ fi }}
							</tr>
							<tr>
								<td class="col-xs-4 active">申请类型</td>
								<td id="user_types">
									<if usertypes>
										<select>
											<option selected disabled hidden value=''></option>
											{{ foreach usertype in usertypes}}
											<option value="{{ usertype.value}}" {{ if usertype.value == form.type }} selected {{ fi }}>{{ usertype.text }}</option>
											{{ end }}
										</select>
									</if>
								</td>
							</tr>
							<tr>
								<td class="col-xs-4 active">已认证类型</td>
								<td id="drop_in" ondrop="dropin(event)" ondragover="allowDrop(event)" >
									{{ foreach verifiedType in form.verifiedTypes}}
									<div id="{{verifiedType.value}}" class="drag" text="{{ verifiedType.text }}" draggable="true" ondragstart="drag(event)" >{{ verifiedType.text }}</div>
									{{ end }}
								</td>
							</tr>
							<tr>
								<td class="col-xs-4 active">未认证类型</td>
								<td id="drop_out" ondrop="dropout(event)" ondragover="allowDrop(event)" >
									{{ foreach notVerifiedType in form.notVerifiedTypes}}
									<div id="{{notVerifiedType.value}}" class="drag" text="{{ notVerifiedType.text }}" draggable="true" ondragstart="drag(event)">{{ notVerifiedType.text }}</div>
									{{ end }}
								</td>
							</tr>
							</tbody>
						</table>
					</script>
				</div>
				<div data-component="error" data-component-path="users.response"></div>
				<div class="ui-form-buttons">
					<div>
						<button name="submit">提交</button>
					</div>
					<button name="cancel">取消</button>
				</div>
			</div>
			<div id="RSC_info" class="form hidden">
				<div data-component="template" data-component-path="RSC" class="padding" style="padding-bottom:0">
					<script type="text/html">
					{{ if form }}
						<h3 class="nopadding">县级经销商信息</h3>
						<table class="table table-bordered" border="0">
							<tr>
								<td class="col-xs-4 active">真实姓名</td>
								<td>{{ form.name }}</td>
							</tr>
							<tr>
								<td class="col-xs-4 active">身份证号</td>
								<td>{{ form.IDNo }}</td>
							</tr>
							<tr>
								<td class="col-xs-4 active">网点名称</td>
								<td>{{ form.companyName }}</td>
							</tr>
							<tr>
								<td class="col-xs-4 active">网点地区</td>
								<td>
									{{ if form.companyAddress }}
									{{ (form.companyAddress.province?form.companyAddress.province.name:'') + (form.companyAddress.city?form.companyAddress.city.name:'') + (form.companyAddress.county?form.companyAddress.county.name:'') + (form.companyAddress.town?form.companyAddress.town.name:'') }}
									{{ fi }}
								</td>
							</tr>
							<tr>
								<td class="col-xs-4 active">网点详细地址</td>
								<td>
									{{ if form.companyAddress }}
									{{ form.companyAddress.details}}
									{{ fi }}
								</td>
							</tr>
							<tr>
								<td class="col-xs-4 active">网点电话</td>
								<td>{{ form.phone }}</td>
							</tr>
						</table>
					{{ else }}
						<h3 class="mb50">暂无县级经销商信息</h3>
					{{ fi }}
					</script>
				</div>
				<div class="ui-form-buttons"></div>
			</div>
			<div id="agent_info" class="form hidden">
				<div data-component="template" data-component-path="agent" class="padding" style="padding-bottom:0">
					<script type="text/html">
					{{ if form }}
						<h3 class="nopadding">新农经纪人信息</h3>
						<table class="table table-bordered" border="0">
							<tbody>
							<tr>
								<td class="col-xs-4 active">姓名</td>
								<td>{{ form.name }}</td>
							</tr>
							<tr>
								<td class="col-xs-4 active">手机号</td>
								<td>{{ form.phone }}</td>
							</tr>
							<tr>
								<td class="col-xs-4 active">身份证号</td>
								<td>{{ form.identityNo }}</td>
							</tr>
							<tr>
								<td class="col-xs-4 active">认证时间</td>
								<td>{{ form.dateTimeVerified }}</td>
							</tr>
							<tr>
								<td class="col-xs-4 active">所在地区</td>
								<td>
									{{ if form.address }}
										{{ (form.address.province?form.address.province.name:'') + (form.address.city?form.address.city.name:'') + (form.address.county?form.address.county.name:'') + (form.address.town?form.address.town.name:'') }}
									{{ fi }}
								</td>
							</tr>
							</tbody>
						</table>
						<h3 class="nopadding">服务客户统计</h3>
						<p>已登记的潜在用户数：{{ form.totalCount }}</p>
						<p>已注册的用户数：{{ form.registeredCount }}</p>
						<p>已注册并绑定为新农代表的用户数：{{ form.registeredAndBindedCount }}</p>
					{{ else }}
						<h3 class="mb50">暂无新农经纪人信息</h3>
					{{ fi }}
					</script>
				</div>
				<div class="ui-form-buttons"></div>
			</div>
		</div>
	</div>
</div>
<div data-component="form" data-title="订单信息" data-component-path="common.form" data-if="value==='users_orders'" data-width="1000px" data-component-id="users.orders.form">
    <div data-component="template" class="padding" data-component-path="users.orders.form">
        <script type="text/html">
            <table class="table table-bordered" border="0">
                <tbody>
                    <tr>
                        <td class="col-xs-4 active"># 订单数</td>
                        <td>{{ count }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="silver"><span class="fa fa-shopping-cart"></span> <strong>已支付订单列表</strong>:</div>
            <table class="table table-bordered checkoutlist" border="0">
                <tr>
                    <td class="col-xs-2 hidden-xs ui-right">订单编号</td>
                    <td class="ui-right col-xs-3 hidden-xs">
                        <ul>
                            <li><div class="product-name">订单商品</div><sapn>(数量x)</sapn></li>
                        </ul>
                    </td>
                    <td class="ui-right col-xs-2">创建时间</td>
                    <td class="ui-right col-xs-2">收货人电话</td>
                    <td class="ui-right col-xs-2">支付金额</td>
                </tr>
                {{ foreach order in items }}
                    {{ if order.payStatus=='1'}}
                        <tr>
                            <td class="col-xs-2 hidden-xs ui-right">{{ order.id }}</td>
                            <td class="ui-right col-xs-4 hidden-xs">
                                <ul>
									{{ foreach product in order.products }}
										<li><div class="product-name" title="{{product.name}}">{{ product.name }}</div><sapn>({{ product.count }}x)</sapn></li>
									{{ end }}
									{{ foreach SKU in order.SKUs }}
										<li><div class="product-name" title="{{SKU.name}}">{{SKU.name}}</div><span>({{SKU.count}}x)</span></li>
									{{ end }}
                                </ul>
                            </td>
                            <td class="ui-right col-xs-3 hidden-xs">{{ order.dateCreated | format('yyyy-MM-dd hh:mm:ss') }}</td>
                            <td class="ui-right col-xs-2 hidden-xs">{{ order.consigneePhone }}</td>
                            <td class="ui-right col-xs-2 hidden-xs">{{ order.deposit }}</td>
                        </tr>
                    {{ fi }}
                {{ end }}
            </table>
            <button name="more-orders" class="ui-grid-more">
                <span class="fa fa-plus-circle"></span>
                查看更多订单
            </button>
        </script>
    </div>
</div>
<script>
	var users = {};

	users.filter = {};
	users.filter.page = 1;
	users.filter.type = 0;
    users.filter.query = 0;

	users.grid = [];
	users.form = {};
	users.info = {};
    users.usertypes = [];
	users.response;

	var agent = {};
	agent.form = {};

	var RSC = {};
	RSC.form = {};

	ON('#users.grid', function(component) {

		// Max items per page
		users.filter.max = component.max;
		users_refresh(true);

		component.click = function(index, row, button) {
			switch ($(button).attr('name')) {
				case 'edit':
					select_user_form_tab($('#user_info_button'));
					$.components.GET(managerurl + '/api/users/' + row.id, null, function(response) {
                        if(response.code!=1000){
                            alert(response.message);
                            return;
                        }

						// if(response.user.isRSC){
						// 	show_form_button($('#RSC_info_button'));
						// } else{
						// 	hide_form_button($('#RSC_info_button'));
						// }

						// if(response.user.isXXNRAgent){
						// 	show_form_button($('#agent_info_button'));
						// } else{
						// 	hide_form_button($('#agent_info_button'));
						// }

						response.user.verifiedTypes = [];
						response.user.notVerifiedTypes = [];

						for(var i in users.usertypes) {
							if (users.usertypes.hasOwnProperty(i)) {
								var usertype = users.usertypes[i];
								if (response.user.typeVerified && response.user.typeVerified.indexOf(usertype.value) != -1) {
									response.user.verifiedTypes.push({
										value: usertype.value,
										text: usertype.text
									});
								} else {
									response.user.notVerifiedTypes.push({
										value: usertype.value,
										text: usertype.text
									});
								}
							}
						}

						response.user.addressShow = '';
						if(response.user.address){
							if(response.user.address.province){
								response.user.addressShow += response.user.address.province.name;
							}

							if(response.user.address.city){
								response.user.addressShow += response.user.address.city.name;
							}

							if(response.user.address.county){
								response.user.addressShow += response.user.address.county.name;
							}

							if(response.user.address.town){
								response.user.addressShow += response.user.address.town.name;
							}
						}

						SET('users.form', $.extend({}, response.user), true);
						SET('users.response', null);
						SET('common.form', 'users');
						on_user_form_changed();
					});
					$.components.GET(managerurl+'/api/v2.1/agentinfo/'+row.id, null, function(response){
						if(response.code!=1000){
							alert(response.message);
							return;
						}
						if (objIsEmpty(response.agent)) {
							SET('agent.form', null, true);
						} else {
							SET('agent.form', $.extend({}, response.agent), true);
						}
					});
					$.components.GET(managerurl+'/api/v2.2/RSCInfo/'+row._id, null, function(response){
						if(response.code!=1000){
							alert(response.message);
							return;
						}
						if (objIsEmpty(response.RSCInfo)) {
							SET('RSC.form', null, true);
						} else {
							SET('RSC.form', $.extend({}, response.RSCInfo), true);
						}
					});
					break;

				// case 'remove':
				// 	if (!confirm('Do you want to remove selected user?'))
				// 		return;
				// 	$.components.DELETE(managerurl + '/api/users', { id: row.id }, function() {
				// 		users_refresh(true);
				// 	});
				// 	break;
                case 'order':
                    $.components.GET(managerurl + '/api/orders/?buyer=' + row.id, null, function(response) {
                        SET('users.orders.form', response);
                        SET('common.form','users_orders');
                    });
                    break;
			}
		};

		component.next = function(page) {
			users.filter.page = page;
			users_refresh();
		};
	});

	ON('#users.form', function(component) {
		// Submits user form
		component.submit = function(hide) {
			$.components.PUT(managerurl + '/api/users/', users.form, function(response) {

				// Error handling
				SET('users.response', response);
				if (response instanceof Array)
					return;

				hide();
				users_refresh(true);
				success();
			});
		};

		$('.form_tab div').on('click', function(){
			select_user_form_tab($(this));
		})
	});

	function select_user_form_tab(el){
		$('.form_tab div').each(function(){
			$(this).removeClass('form_tab_selected');
		});
		el.addClass('form_tab_selected');
		$('.multi_form .form').each(function(){
			$(this).addClass('hidden');
		});
		switch(el.attr('id')){
			case 'user_info_button':
				$('#user_info').removeClass('hidden');
				break;
			case 'agent_info_button':
				$('#agent_info').removeClass('hidden');
				break;
			case 'RSC_info_button':
				$('#RSC_info').removeClass('hidden');
				break;
		}
	}

	function show_form_button(el){
		el.removeClass('hidden');
	}

	function hide_form_button(el){
		el.addClass('hidden');
	}

	// Method refreshes grid
	function users_refresh(reset) {

		if (reset) {
			users.filter.page = 1;
			users.grid = [];
		}

		$.components.GET(managerurl + '/api/users/', users.filter, function(response) {
            response.items.forEach(function(item){
				if(item.typeVerified){
					item.typeNameVerified = [];
					item.typeVerified.forEach(function(typeVerified){
						if(usertypes[typeVerified]) {
							item.typeNameVerified.push(usertypes[typeVerified]);
						}
					})
				}
            });

			SET((reset ? '' : '+') + 'users.grid', response.items);
			if (!reset)
				return;
			users.info.count = response.count;
			users.info.pages = response.pages;
			UPDATE('users.info');
		});

        var user_types = [];
        for(var i in usertypes){
            if(usertypes.hasOwnProperty(i)) {
                var usertype = {value: i, text: usertypes[i]};
                user_types.push(usertype);
            }
        }

        SET('users.usertypes', user_types);
	}

	// Watchs changes in user filter
	Delay_Search_WATCH('users.filter.*', function(path, value) {
		if (NOTMODIFIED('users.filter', users.filter))
			return;
		users_refresh(path !== 'users.filter.page');
	});

	function drag(ev){
		ev.dataTransfer.setData("value", ev.target.id);
		ev.dataTransfer.setData("text", ev.target.innerHTML);
		ev.dataTransfer.setData("draggable", ev.target.getAttribute('draggable'));
	}

	function allowDrop(ev) {
		ev.preventDefault();
	}

	function dropout(ev) {
		ev.preventDefault();
		var text = ev.dataTransfer.getData("text");
		var value = ev.dataTransfer.getData("value");
		var draggable = ev.dataTransfer.getData("draggable");
		if(!draggable){
			return;
		}

		for(var i=0; i<users.form.verifiedTypes.length; i++){
			if(users.form.verifiedTypes[i].value == value){
				users.form.verifiedTypes.splice(i, 1);
				break;
			}
		}

		for(var k=0; k<users.form.typeVerified.length; k++){
			if(users.form.typeVerified[k] == value){
				users.form.typeVerified.splice(k, 1);
				break;
			}
		}

		var hasThisItemAlready = false;
		for(var j=0; j<users.form.notVerifiedTypes.length; j++){
			if(users.form.notVerifiedTypes[j].value == value){
				hasThisItemAlready = true;
				break;
			}
		}

		if(!hasThisItemAlready) {
			users.form.notVerifiedTypes.push({text: text, value: value});
		}

		SET('users.form.verifiedTypes', users.form.verifiedTypes);
		SET('users.form.notVerifiedTypes', users.form.notVerifiedTypes);
		on_user_form_changed();
	}

	function dropin(ev) {
		ev.preventDefault();
		var text = ev.dataTransfer.getData("text");
		var value = ev.dataTransfer.getData("value");
		var draggable = ev.dataTransfer.getData("draggable");
		if(!draggable){
			return;
		}

		for(var i=0; i<users.form.notVerifiedTypes.length; i++){
			if(users.form.notVerifiedTypes[i].value == value){
				users.form.notVerifiedTypes.splice(i, 1);
				break;
			}
		}

		var hasThisItemAlready = false;
		for(var j=0; j<users.form.verifiedTypes.length; j++){
			if(users.form.verifiedTypes[j].value == value){
				hasThisItemAlready = true;
				break;
			}
		}

		if(!hasThisItemAlready) {
			users.form.verifiedTypes.push({text: text, value: value});
			if(users.form.typeVerified == null){
				users.form.typeVerified = [];
			}
			users.form.typeVerified.push(value);
		}

		SET('users.form.verifiedTypes', users.form.verifiedTypes);
		SET('users.form.notVerifiedTypes', users.form.notVerifiedTypes);
		on_user_form_changed();
	}

	function on_user_form_changed() {
		$('#user_types select').off('change').on('change', function () {
			var el = $(this);
			var userType = el.find('option:selected').attr('value');
			SET('users.form.type', userType);
			on_user_form_changed();
		});
	}

	// Tangular.register('oauth2', function() {
	// 	var prop = ['idfacebook', 'idlinkedin', 'idgoogle', 'iddropbox', 'idinstagram', 'idyandex', 'idyahoo', 'idvk', 'idlive'];
	// 	var self = this;
	// 	var builder = '';
	// 	for (var i = 0, length = prop.length; i < length; i++) {
	// 		var id = self[prop[i]];
	// 		if (!id)
	// 			continue;
	// 		var icon = prop[i].replace('id', '');
	// 		switch (icon) {
	// 			case 'live':
	// 				icon = 'windows';
	// 				break;
	// 			case 'idyandex':
	// 				icon = 'search';
	// 				break;
	// 		}
	// 		builder += '<span class="mr5 fa blue fa-' + icon + '"></span>';
	// 	}

	// 	return builder;
	// });
</script>