<!doctype html>
<html ng-app="commit_pay">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta name="force-rendering" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<title>订单结算 - 新新农人</title>
    <!--[if lte IE 7]><script>alert('为了更好的购物体验，请升级您的浏览器版本');window.location.href='http://cdn.dmeng.net/upgrade-your-browser.html?referrer='+location.href;</script><![endif]-->
    <link rel='icon' href='images/title_logo.png' type='image/png' />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
    <!-- build:css -->
    <link type="text/css" rel="stylesheet" href="css/addAddress.css">
    <link type="text/css" rel="stylesheet" href="css/sweetalert.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
    <!-- build:js -->
    <script src="js/jquery.min.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="js/selectivizr-min.js"></script>
    <![endif]-->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/login/loginService.js"></script>
    <script src="js/remoteApiService.js"></script>
    <script src="js/payService.js"></script>
    <script src="js/login/loginController.js"></script>
    <script src="js/headerFooterDirective.js"></script>
    <script src="js/headerController.js"></script>
    <script src="js/shoppingCart/shoppingCartService.js"></script>
    <script src="js/shoppingCart/shoppingCartController.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="js/commitPay/commitPayController.js"></script>
    <script src="js/sideService.js"></script>
    <!-- endbuild -->
</head>
<body ng-controller="commitPayController" ng-class="{true:'overflow_body', false:'not_overflow_body'}[isOverflow]">
<header ng-controller="headerController"></header>
<div class="wrap nav" ng-controller="shoppingCartController">
    <h1 class="left logo"><a href="/">新新农人</a></h1>
    <ul class="right shopping_procedure">
    <li><img src="images/green1.png" alt=""/><p>我的购物车</p></li>
    <li class="procedure_line"><img src="images/green_line.png" alt=""/></li>
    <li><img src="images/green2.png" alt=""/><p>填写核对订单信息</p></li>
    <li class="procedure_line"><img src="images/green_line.png" alt=""/></li>
    <li><img src="images/green_ok.png" alt=""/><p>成功提交订单</p></li>
    </ul>
</div>
<div class="payBody ng-cloak ng-hide" ng-show="wholePageShow">
    <div class="orderInfo ng-cloak" ng-show="!offlineSubmitted" ng-repeat='order in orders' ng-click='orderClicked($index)' ng-class="{true:'selected',false:'unselected'}[$index == orderSelectedNum && orders.length>1]">
        <div class="big ng-cloak">订单号：
            <span class="ng-cloak">{{order.id}}</span>
            <span class="orderType">{{order.orderType}}</span>
            <p class="right needToPay" >待付金额：
                <span class="price ng-cloak">{{order.duePrice}}</span>元
            </p>
        </div>
        <div class="clearfix totalPrice" ng-show='$index==orderSelectedNum'>
            <p class="right">订单总额：{{order.totalPrice}}元</p>
        </div>
        <div ng-show='$index==orderSelectedNum'>
            <p class="ng-cloak">收货地址：<span class="ng-cloak">{{order.address}}，</span><span class="ng-cloak">{{order.receiver}}，</span><span class="ng-cloak">{{order.receiverPhone}}</span></p>
            <!--<p>商品名称：<span ng-repeat="product in order.products">{{product.goodsName}}<span> -{{product.goodsCount}}件，</span></span></p>-->
            <p>商品名称：<span class="ng-cloak">{{order.resultStr}}</span></p>
        </div>
    </div>
    <div class="wrap clearfix" ng-show="!offlineSubmitted">
        <div class="pay_box">
            <div class="pay_box_title">支付方式</div>
            <div class="pay_times">
                <div class="full_pay_icon" ng-click="changePayTimes(0)" ng-class="{true:'selected'}[payTimes == 0]">
                    全额支付
                    <!--<img class="selected" src="images/pay_type_check.png" alt="" ng-show="payTimes == 0" />-->
                </div>
                <div class="multi_pay"  ng-show="more_toggle">
                    <div class="multi_pay_icon" ng-click="changePayTimes(1)" ng-class="{true:'selected'}[payTimes == 1]">
                        分次支付
                        <!--<img class="selected" src="images/pay_type_check.png" alt="" ng-show="payTimes == 1" />-->
                    </div>
                    <div class="multi_pay_option">
                        <span class="intro">选择本次支付金额</span>
                        <div class="buy_btn">
                            <a class="btn-reduce" href="" ng-click="multi_pay_amount_reduce()" ng-class="{'editable':amount_reduce_editable == true && payTimes == 1}" >-</a>
                            <a class="btn-add" href="" ng-click="multi_pay_amount_add()" ng-class="{'editable':amount_add_editable == true && payTimes == 1}">+</a>
                            <input maxlength="4" class="text" id="buy-num" ng-model="multi_pay_amount" ng-change="buyCountChange(buy_count)" ng-readonly="!isInWhiteList">
                        </div>
                        <a class="xxnr_btn" href="" ng-click="edit_multi_pay_num()" ng-show="isInWhiteList">{{multi_pay_edit_bth}}</a>
                        <p>点击<span>+ -</span>调节金额，每次幅度<span>500</span>元，最低调至<span>3000</span>元，不足则按实际付款金额</p>
                    </div>
                </div>
                <div class="more_pay" ng-click="pay_times_toggle()">
                    <span>{{more_text}}</span><img ng-src="images/{{more_imgUrl}}" alt="">
                </div>
            </div>
            <div class="payMethod ng-cloak">
                <p class="confirm-title">
                    <span class="left">选择您的付款方式</span>
                </p>
                <div class="confirm-contents">
                    <div class="clear checkout-steps">
                        <p>平台支付</p>
                        <ul class="pay-style clearfix">
                            <li ng-repeat="payMethod in payMethods" class="ng-cloak"><a href=""  ng-class="{ 'current': $index == selectedPayMethodIndex }" ng-click="itemClicked($index)"><img ng-src="{{payMethod.imgUrl}}" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="clear checkout-steps" ng-hide="payTimes==1">
                        <p>线下支付</p>
                        <ul class="pay-style clearfix">
                            <li class="ng-cloak"><a href=""  ng-class="{ 'current': selectedPayMethodIndex == 2 }" ng-click="itemClicked(2)"><img width="188px" height="58px" src="./images/offline_payment_icon1-.png" alt=""></a></li>
                        </ul>
                    </div>
                    <a class="xxnr_btn" href="" ng-click="pay()">立即支付</a>
                    <p class="pay_price">支付金额：<span>￥{{pay_price}}</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="offlinePay-submitted-section" ng-show="offlineSubmitted">
        <p class="section_title">线下支付</p>
        <div class="successInfo">
            <img src="./images/offline_payment-.png" alt="">
            <span class="successText">线下支付提交成功！请到服务网点完成线下支付</span>
            <span class="needToPay">待付金额：<span class="payNumber">{{orders[orderSelectedNum].duePrice}}</span>元</span>
        </div>
        <div class="company_info">
            <p class="company_title">服务网点</p>
            <div class="has_offlinePay_company" ng-show="has_offlinePay_company">
                <p>网点名称：{{orders[orderSelectedNum].RSCInfo.companyName}}</p>
                <p>网店地址：{{orders[orderSelectedNum].RSCInfo.RSCAddress}}</p>
                <p>电话：{{orders[orderSelectedNum].RSCInfo.RSCPhone}}</p>
            </div>
            <div class="no_offlinePay_company" ng-show="!has_offlinePay_company">
                <img src="./images/branches.png" alt="">
                <p>小新正在为您匹配最近的网点,请稍候从我的订单查看</p>
            </div>
        </div>
        <div class="offlinePay">
            <p>付款方式</p>
            <div class="offlinePay-method">
                <img src="./images/cash_icon.png" alt=""><span>现金</span>
            </div>
            <div class="offlinePay-method">
                <img src="./images/pos_icon-.png" alt=""><span>POS机刷卡</span>
            </div>
        </div>
        <a ng-href="orderDetail.html?id={{orders[orderSelectedNum].id}}" class="to_order_detail">查看该订单详情 ></a>
    </div>
</div>
</body>
<div class="pop_pay_mask" ng-show="showPayPop" ng-cloak></div>
<div class="pop_content commitPay_pop_content" ng-show="showPayPop" ng-cloak>
    <!-- <div class="pop_head">
        <span class="left">确认付款</span>
    </div> -->
    <div class="pop_pay">
        <p for="" class="pay_alter_info">请在新打开的页面上完成支付；支付完成前请不要关闭此窗口</p>
        <div class="pop_pay_btn">
            <div class="left">
                <a href="" class="btn" ng-click="finishPay()">支付完成</a>
            </div>
            <div class="right">
                <a href="" class="btn" ng-click="notFinishPay()">支付遇到问题</a>
            </div>
        </div>
    </div>
</div>
<footer></footer>
</html>
