<div class="wrap">
    <div class="search">
        <div class="search_category" ng-repeat="search_category in search_categories">
            <span class="left search_key">{{search_category.name}}：</span>
            <ul class="left" id="brand">
                <li ng-repeat="choice in search_category.choices"><a href="" ng-class="{true:'current', false:''}[choice.isSelected]" ng-click="select($parent.$index,$index)">{{choice.name}}</a></li>
            </ul>
        </div>
    </div>
    <div class="channel3_body">
        <ul id="goodsList">
            <li ng-repeat="item in current_items">
                <a ng-href={{item.detailUrl}}>
                    <p class="img">
                        <img data-rid="134749" width="190px" height="190px" data-index="0" data-max-height="172" data-max-width="211" lazy-src="{{item.imgUrl}}" alt="" />
                    </p>
                    <p class="product-name" title={{item.name}} >{{item.shortName}}</p>
                    <p class="" ng-class="{true: 'presale', false: 'price'}[item.presale]">{{item.presale?"即将上线":'￥'+item.nowPrice}} <del style="color:#C0C0C0" ng-hide="{{!item.onSale}}">{{item.oldPrice}}</del></p>
                </a>
            </li>
        </ul>
    </div>
    <div class="pager">
        <ul>
            <div id="pageIds">
                <li class="pre_btn"><a href="" ng-click="pre_page()"><em class="ban ban_8_0">&nbsp;</em></a></li>
                <li ng-repeat="page in pages"><a href="" ng-click="show_page(page.id)" ng-class="{true:'current', false:''}[page.isSelected]">{{page.id}}</a></li>
                <li class="next_btn"><a href="" ng-click="next_page()"><em class="ban ban_9_0">&nbsp;</em></a></li>
            </div>
        </ul>
    </div>
</div>
