<!DOCTYPE html>
<html ng-app="login">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <!--[if lte IE 7]><script>alert('为了更好的购物体验，请升级您的浏览器版本');window.location.href='http://cdn.dmeng.net/upgrade-your-browser.html?referrer='+location.href;</script><![endif]-->
    <link rel='icon' href='images/title_logo.png' type='image/png' />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
    <!-- build:css -->
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/sweetalert.css">
    <link type="text/css" rel="stylesheet" href="css/angular-flash.css">
    <!-- endbuild -->
    <!-- build:js -->
    <script src="js/jquery.min.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="js/selectivizr-min.js"></script>
    <![endif]-->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/login/loginService.js"></script>
    <script src="js/remoteApiService.js"></script>
    <script src="js/login/loginController.js"></script>
    <script src="js/jsencrypt.js"></script>
    <script src="js/headerFooterDirective.js"></script>
    <script src="js/headerController.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="js/myPlaceholderDirective.js"></script>
    <script src="js/angular-flash.js"></script>
    <!-- endbuild -->
</head>
<body>
<flash-message></flash-message>
<header ng-controller="headerController"></header>
<div ng-controller="loginController" ng-class="{true:'overflow_body', false:'not_overflow_body'}[isOverflow]">
<div class="logon clearfix">
    <div class="wrap">
        <div class="login_logo">
            <a href="/">
                <img src="images/new_logo.png" alt="">
            </a>
        </div>
        <div class="login_image left">
            <img src="images/login_left.png" alt=""/>
        </div>
        <div class="user_section right">
            <div class="user_wrap">
                <!--<ul class="user_tabs" ng-init="tab = 1">-->
                <!--<ul class="user_tabs" ng-init="tab = this.tabNum">-->
                    <!--<li ng-class="{current:tab===1}"><a href="#" ng-click="tab = 1" >登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</a></li>-->
                    <!--<li ng-class="{current:tab===2}"><a href="#" ng-click="tab = 2" >注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;册</a></li>-->
                <!--</ul>-->
                <div class="ueser_forms">
                    <div ng-show="tab===1" class="login_form">
                        <p class="login_form--title">登录</p>
                        <form name="loginForm" novalidate ng-submit="" >
                            <div class="form-group"
                                 ng-class="{'focused_input--green':focusInputGroupNum == formInputsKeyValue.loginPhone,'error_input--red': loginResMsg.length > 0 && ( errorInputGroupNum ==formInputsKeyValue.loginPhone && loginForm.phoneNumber.$error.required)}"
                                 ng-click="focusShowValidate(formInputsKeyValue.loginPhone)">
                                <label>
                                    <img src="images/login_user.png" alt=""/>
                                </label>
                                <input  ng-model="phoneNumber" name="phoneNumber"
                                        ng-blur="blurShowValidate()" my-placeholder="请输入您的手机号"
                                        placeholder="请输入您的手机号"
                                        required />
                                <div class="checked_icon" ng-class="{validated:phoneNumberValidated===true}">
                                    <img src="images/checked.png" alt=""/>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{'focused_input--green':focusInputGroupNum == formInputsKeyValue.loginPassword,'error_input--red': loginResMsg.length > 0 && ( errorInputGroupNum ==formInputsKeyValue.loginPassword && loginForm.password.$error.required) }"
                                 ng-click="focusShowValidate(formInputsKeyValue.loginPassword)">
                                <label>
                                    <img src="images/login_password.png" alt=""/>
                                </label>
                                <input type="password" name="password"
                                       ng-blur="blurShowValidate()" ng-model="password"
                                       my-placeholder="请输入您的密码" placeholder="请输入您的密码"
                                       required />
                            </div>
                            <div class="login_error ng-cloak" ng-show="loginResMsg">
                                <img src="../xxnr/images/login_fault.png" alt="" />
                                <span>{{loginResMsg}}</span>
                            </div>
                            <div class="remenberHint">
                                <img src="images/remenberLogo.png" alt=""/><span>公共场所不建议自动登录，以防帐号丢失</span>
                            </div>
                            <div>
                                <input type="checkbox" name="remenberUser" ng-model="keepLoginChecked"/> <span>自动登录</span>
                                <a href="" ng-click='forgetPassword()' class="right forgetPassword">忘记密码?</a>
                            </div>
                            <button class="login_btn" type="submit" ng-click="login()" >登录</button>
                            <div class="register_message clearfix" >
                                <span class="right">还没有账号？<a href="logon.html?type=register" >立即注册</a></span>
                            </div>
                        </form>
                        <!--<ul>-->
                            <!--<li class="input_li" >-->
                                <!--<div class="input_icon">-->
                                    <!--<img src="images/login_input_icon1.png" alt=""/>-->
                                <!--</div>-->
                                <!--<input id="login_account" my-placeholder="请输入您的手机号" placeholder="请输入您的手机号" type="text" ng-model="phoneNumber">-->
                                <!--<div class="checked_icon" ng-class="{validated:phoneNumberValidated===true}">-->
                                    <!--<img src="images/checked.png" alt=""/>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="input_li">-->
                                <!--<div class="input_icon">-->
                                    <!--<img src="images/login_input_icon2.png" alt=""/>-->
                                <!--</div>-->
                                <!--<input id="login_password" my-placeholder="请输入您的密码" placeholder="请输入您的密码" type="password" ng-model="password" ng-keydown="password_keydown($event)">-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<div class="remenberHint">-->
                                    <!--<img src="images/remenberLogo.png" alt=""/><span>公共场所不建议自动登录，以防帐号丢失</span>-->
                                <!--</div>-->
                            <!--</li>-->

                            <!--<li class="get_pass clearfix">-->
                                <!--<input type="checkbox" name="remenberUser" ng-model="keepLoginChecked"/> <span>自动登录</span>-->
                                <!--<a href="" ng-click='forgetPassword()' class="right">忘记密码?</a>-->
                            <!--</li>-->
                            <!--<li class="login_btn">-->
                                <!--<a ng-click="login()" href="">登录</a>-->
                            <!--</li>-->
                            <!--<li class="register_message clearfix" >-->
                                <!--<span class="right">还不是新新农人用户？<a href="logon.html?type=register" >立即注册</a></span>-->
                            <!--</li>-->
                        <!--</ul>-->
                    </div>
                    <div ng-show="tab===2" class="register_form">
                        <p class="register_form--title">注册</p>
                        <form name="registerForm" class="registerForm" novalidate ng-submit="" >
                            <div class="form-group"
                                 ng-class="{'focused_input--green':focusInputGroupNum == formInputsKeyValue.registerPhone,'error_input--red': registerResMsg.length > 0 && errorInputGroupNum ==formInputsKeyValue.registerPhone }"
                                 ng-click="focusShowValidate(formInputsKeyValue.registerPhone)">
                                <label>
                                    <img src="images/login_user.png" alt=""/>
                                </label>
                                <input type="text" ng-model="phoneNumber"
                                       my-placeholder="请输入您的手机号" placeholder="请输入您的手机号"
                                       name="phoneNumber"
                                       ng-blur="blurShowValidate()"
                                       required phoneverfied/>
                            </div>
                            <div class="form-group register_code"
                                 ng-class="{'focused_input--green':focusInputGroupNum == formInputsKeyValue.registerCode, 'error_input--red': registerResMsg.length > 0 &&  errorInputGroupNum ==formInputsKeyValue.registerCode}"
                                 ng-click="focusShowValidate(formInputsKeyValue.registerCode)">
                                <input type="text"
                                       my-placeholder="短信验证码" placeholder="短信验证码"
                                       ng-model="code" name="code"
                                       ng-blur="blurShowValidate()"
                                       required />

                            </div>
                            <div class="right reg_get_code_btn"><a href="" ng-click="sendRegistCode($event)">{{regCountDown}}</a></div>
                            <div class="form-group"
                                 ng-class="{'focused_input--green':focusInputGroupNum == formInputsKeyValue.registerPassword,'error_input--red': registerResMsg.length > 0 && ( errorInputGroupNum ==  formInputsKeyValue.registerPassword || errorInputGroupNum == formInputsKeyValue.registerConfirmPasswordsMismatch ) }"
                                 ng-click="focusShowValidate(formInputsKeyValue.registerPassword)">
                                <label>
                                    <img src="images/login_password.png" alt=""/>
                                </label>
                                <input type="password"
                                       my-placeholder="请输入您的密码" placeholder="请输入您的密码"
                                       ng-model="newPassword" name="newPassword"
                                       ng-blur="blurShowValidate()"
                                       required />
                            </div>
                            <div class="form-group"
                                 ng-class="{'focused_input--green':focusInputGroupNum == formInputsKeyValue.registerPasswordConfirm,'error_input--red': registerResMsg.length > 0 && ( errorInputGroupNum ==  formInputsKeyValue.registerPasswordConfirm ||  errorInputGroupNum == formInputsKeyValue.registerConfirmPasswordsMismatch)}"
                                 ng-click="focusShowValidate(formInputsKeyValue.registerPasswordConfirm)">
                                <label>
                                    <img src="images/login_password.png" alt=""/>
                                </label>
                                <input type="password"
                                       my-placeholder="请输入您的确认密码" placeholder="请输入您的确认密码"
                                       ng-model="confirm_newPassword" name="confirm_newPassword"
                                       ng-keydown="regist_keydown($event)"
                                       ng-blur="blurShowValidate()"
                                       required />
                            </div>
                            <div class="policy">
                                <input type="checkbox" checked="true" name="readPolicy" ng-model="policyChecked" /> <span>我已阅读并同意<a href="" ng-click="showPolicy()">《新新农人网站使用协议》</a></span>

                            </div>
                            <div class="register_error ng-cloak" ng-show="registerResMsg">
                                <img src="../xxnr/images/login_fault.png" alt="" />
                                <span>{{registerResMsg}}</span>
                            </div>
                            <div class="register_succeed ng-cloak" ng-show="registerSucceedResMsg">
                                <img src="../xxnr/images/correct_prompt1.png" alt="" />
                                <span>{{registerSucceedResMsg}}</span>
                            </div>
                            <button class="register_btn" type="submit" ng-click="regist()" >注册</button>
                            <div class="login_link right">已有账号? <a href="/logon.html">立即登录</a></div>
                        </form>
                        <!--<ul>-->
                            <!--<li class="input_li">-->
                                <!--<div class="input_icon">-->
                                    <!--<img src="images/phone.png" alt=""/>-->
                                <!--</div>-->
                                <!--<input type="text" id="regist_phone_num" my-placeholder="请输入您的手机号" placeholder="请输入您的手机号" ng-model="phoneNumber">-->
                            <!--</li>-->
                            <!--&lt;!&ndash; <li class="error">错误提示</li> &ndash;&gt;-->
                            <!--<li class="reg_code">-->
                                <!--<div class="left">-->
                                    <!--<input type="text" id="dynamic_code" my-placeholder="短信验证码" placeholder="短信验证码" ng-model="code">-->
                                <!--</div>-->
                                <!--<div class="right reg_get_code"><a href="" ng-click="sendRegistCode($event)">{{regCountDown}}</a></div>-->
                            <!--</li>-->
                            <!--<li class="input_li">-->
                                <!--<input type="password" id="password" my-placeholder="请输入您的密码" placeholder="请输入您的密码" ng-model="newPassword">-->
                            <!--</li>-->
                            <!--<li class="input_li">-->
                                <!--<input type="password" id="password_cf" my-placeholder="请输入您的确认密码" placeholder="请输入您的确认密码" ng-model="confirm_newPassword" ng-keydown="regist_keydown($event)">-->
                            <!--</li>-->
                            <!--<li class="policy">-->
                                <!--<input type="checkbox" checked="true" name="readPolicy" ng-model="policyChecked" /> <span>我已阅读并同意<a href="" ng-click="showPolicy()">《新新农人网站使用协议》</a></span>-->
                            <!--</li>-->
                            <!--<li class="reg_btn">-->
                                <!--<a href="" ng-click="regist()">立即注册</a>-->
                            <!--</li>-->
                            <!--<div class="pop_mask" ng-show="showPolicyPop"></div>-->
                            <!--<div class="pop_content_policy ng-hide" ng-show="showPolicyPop">-->
                                <!--<div class="pop_head">-->
                                    <!--<span class="left">新新农人网站使用协议</span>-->
                                    <!--<a href="" ng-click="hidePolicy()" class="right close"></a>-->
                                <!--</div>-->
                                <!--<div class="pop_content_policy_body">-->
                                    <!--<iframe src="resources/privacyPolicy.html" frameborder="false" scrolling="auto" style="border:none;" width="100%" height="90%" allowtransparency="true"></iframe>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</ul>-->
                    </div>
                </div>
                <div class="pop_mask" ng-show="showPolicyPop"></div>
                <div class="pop_content_policy ng-hide" ng-show="showPolicyPop">
                    <div class="pop_head">
                        <span class="left">新新农人网站使用协议</span>
                        <a href="" ng-click="hidePolicy()" class="right close"></a>
                    </div>
                    <div class="pop_content_policy_body">
                        <iframe src="resources/privacyPolicy.html" frameborder="false" scrolling="auto" style="border:none;" width="100%" height="90%" allowtransparency="true"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pop_mask ng-hide" ng-show="showPop"></div>
    <div class="pop_content ng-hide" ng-show="showPop">
        <div class="pop_head">
            <span class="left">找回密码</span>
            <a href="" ng-click='closePop()' class="right close"></a>
        </div>
        <div class="pop_body">
            <ul class="pop_login">
                <li>
                    <label for="" class="left label">用户名：</label>
                    <div class="left">
                        <input id="tel" type="text" class="input" value="" ng-model="phoneNumber"
                               ng-class="{'focused_input--green':focusInputGroupNum == formInputsKeyValue.resetPasswordPhone,'error_input--red': resetPasswordMsg.length > 0 && errorInputGroupNum ==formInputsKeyValue.resetPasswordPhone }"
                               ng-click="focusShowValidate(formInputsKeyValue.resetPasswordPhone)">
                    </div>
                </li>
                <li>
                    <label for="" class="left label">验证码：</label>
                    <div class="left">
                        <input type="text" id="dynamic_code" class="input_reg_code" value="" ng-model="code"
                               ng-class="{'focused_input--green':focusInputGroupNum == formInputsKeyValue.resetPasswordCode,'error_input--red': resetPasswordMsg.length > 0 && errorInputGroupNum ==formInputsKeyValue.resetPasswordCode }"
                               ng-click="focusShowValidate(formInputsKeyValue.resetPasswordCode)">
                    </div>
                    <div class="right reg_get_code"><a href="" ng-click="sendResetCode($event)">{{resetCountDown}}</a></div>
                </li>
                <li>
                    <label for="" class="left label">新密码：</label>
                    <div class="left">
                        <input type="password" id="pop_password" class="input" value="" ng-model="newPassword"
                               ng-class="{'focused_input--green':focusInputGroupNum == formInputsKeyValue.resetPassword,'error_input--red': resetPasswordMsg.length > 0 && ( errorInputGroupNum ==  formInputsKeyValue.resetPassword ||  errorInputGroupNum == formInputsKeyValue.resetConfirmPasswordsMismatch) }"
                               ng-click="focusShowValidate(formInputsKeyValue.resetPassword)">
                    </div>
                </li>
                <li>
                    <label for="" class="left label">确认密码：</label>
                    <div class="left">
                        <input type="password" id="pop_password_cf" class="input" value="" ng-model="confirm_newPassword" ng-keydown="confirm_newPassword_keydown($event)"
                               ng-class="{'focused_input--green':focusInputGroupNum == formInputsKeyValue.resetPasswordConfirm,'error_input--red': resetPasswordMsg.length > 0 && ( errorInputGroupNum ==  formInputsKeyValue.resetPasswordConfirm ||  errorInputGroupNum == formInputsKeyValue.resetConfirmPasswordsMismatch) }"
                               ng-click="focusShowValidate(formInputsKeyValue.resetPasswordConfirm)">
                    </div>
                </li>
                <li>
                    <label for="" class="left label">&nbsp;</label>
                    <div class="left">
                        <a href="" class="btn" ng-click="findPassword_submit()">确 认</a>
                    </div>
                </li>
                <div class="reset_password_err ng-cloak" ng-show="resetPasswordMsg">
                    <img src="../xxnr/images/login_fault.png" alt="" />
                    <span>{{resetPasswordMsg}}</span>
                </div>
                <div class="reset_password_succeed ng-cloak" ng-show="resetPasswordSucceedMsg">
                    <img src="../xxnr/images/correct_prompt1.png" alt="" />
                    <span>{{resetPasswordSucceedMsg}}</span>
                </div>
            </ul>
        </div>
    </div>
</div>
<footer></footer>
</body>
</html>
