<!doctype html>
<html ng-app="product_detail" ng-controller="productDetailController">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!--<title>【{{item.name}}】 - 新新农人</title>-->
    <title>商品详情 - 新新农人</title>
    <!--[if lte IE 7]><script>alert('为了更好的购物体验，请升级您的浏览器版本');window.location.href='http://cdn.dmeng.net/upgrade-your-browser.html?referrer='+location.href;</script><![endif]-->
    <link rel='icon' href='images/title_logo.png' type='image/png' />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
    <!-- build:css -->
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/sweetalert.css">
    <!-- endbuild -->
    <!-- build:js -->
    <script src="js/jquery.min.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="js/selectivizr-min.js"></script>
    <![endif]-->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/login/loginService.js"></script>
    <script src="js/payService.js"></script>
    <script src="js/remoteApiService.js"></script>
    <script src="js/login/loginController.js"></script>
    <script src="js/productDetail/productDetailController.js"></script>
    <script src="js/shoppingCart/shoppingCartService.js"></script>
    <script src="js/shoppingCart/shoppingCartController.js"></script>
    <script src="js/headerFooterDirective.js"></script>
    <script src="js/headerController.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="js/jquery.fly.min.js"></script>
    <script src="js/requestAnimationFrame.js"></script>
    <script src="js/flyToCartService.js"></script>
    <script src="js/sideService.js"></script>
    <script src="js/angular-flash.js"></script>
    <!-- endbuild -->
</head>
<body>
<header ng-controller="headerController"></header>

<div class="wrap nav" ng-controller="shoppingCartController">
    <h1 class="left logo"><a href="/">新新农人</a></h1>
    <ul class="left">
        <li><a href="/">首页</a></li>
        <li><a href="huafei_list.html">化肥专场</a></li>
        <li><a href="car_list.html">汽车专场</a></li>
        <li><a href="news_list.html">新农资讯</a></li>
        <!-- <li><a href="#">新农论坛</a></li> -->
        <li><a href="about.html">公司介绍</a></li>
    </ul>
    <div class="right buy">
        <a href="" ng-click="accessShoppingCart()">
            <em>&nbsp;</em>
            购物车
        </a>
    </div>
    <span class="shopping_cart_badge ng-cloak" ng-bind="shoppingCartCount"></span>
    <a href="#" id="side_shoping_cart" ng-click="accessShoppingCart()" title="side shopping cart">
        <img src="images/shopping-right.png" alt=""/>
        <span class="side_shopping_cart_badge ng-cloak" ng-show="shoppingCartCount>0">{{shoppingCartCount>99?'99+':shoppingCartCount}}</span>
    </a>
</div>

<a href="#" id="back-to-top" title="Back to top"><img src="images/backToTop.png" alt=""/></a>
<div class="clear channel3 product_detail ng-cloak">
    <p class="guide ng-hide" ng-show="initDisplay">
        <a href="/">首页</a> ／ <a href="" id="productType" ng-click="product_category()" ng-cloak>{{category}}</a> ／ <a href="#" id="product_title" ng-cloak>{{item.name}}</a>
    </p>
    <div class="wrap ng-hide" ng-show="initDisplay">
        <div class="product_detail">
            <div class="product_img_slider">
                <img class="mainImage" ng-repeat="imgUrl in item.imgUrls" ng-show="isActive($index)" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-src={{imgUrl}} alt="">
                <ul class="imgNav row">
                    <li ng-repeat="thumbnailImgUrl in item.thumbnailImgUrls" ng-class="{'active':isActive($index)}">
                        <div class="overlay" ng-mouseover="showPhoto($index);">
                        </div>
                        <img ng-src="{{thumbnailImgUrl}}" alt="{{photo.desc}}" title="{{photo.desc}}"/>
                    </li>
                </ul>
            </div>

            <div class="product_info">
                <div class="product_info_part1">
                    <h4 class="product_name" ng-cloak>{{item.name}}</h4>
                    <p class="sub_tit" ng-cloak>{{item.description}}</p>

                    <ul class="price_list clearfix">
                        <div class="marketPrice" ng-hide="!item.marketPriceDisplay || (item.marketMinPrice == 0 && item.marketMaxPrice == 0)">
                            <ul>
                                <li>市场价</li>
                                <li><del style="color:#C0C0C0">{{'￥ '+item.marketMinPrice.toFixed(2)}} {{item.marketMaxPrice==item.marketMinPrice?"":"-"}} {{(item.marketMaxPrice==item.marketMinPrice?"":item.marketMaxPrice.toFixed(2))}}</del></li>
                            </ul>
                        </div>
                        <li class="ng-cloak" ng-hide="item.presale">新农价&nbsp;&nbsp;&nbsp;</li>
                        <li class="price" ng-hide="item.presale">{{'￥'+item.minPrice.toFixed(2)}} {{item.maxPrice==item.minPrice?"":"-"}} {{(item.maxPrice==item.minPrice?"":item.maxPrice.toFixed(2))}}</li>
                        <li class="ng-cloak price" ng-show="item.presale" ng-class="{true: 'presale',}[item.presale]">即将上线</li>
                        <!-- <li ng-show="category=='化肥' && !item.presale" class="ng-cloak unitText">/吨</li> -->
                        <li ng-show="item.deposit && item.online && !item.presale">预付订金&nbsp;&nbsp;</li>
                        <li class="price" ng-show="item.deposit && item.online && !item.presale" ng-cloak>￥{{item.deposit}}</li>
                    </ul>
                    <p ng-show="!item.online" class="offline-text">商品下架了</p>
                    <div ng-show="item.online" class="SKUAttributes" ng-class="{true:'needToSelect'}[needToSelectMoreSKU]">
                        <div ng-show="needToSelectMoreSKU" class="clearfix needToSelectTitle">
                            <span class="left">请选择您要的商品信息</span>
                            <img ng-click="needToSelectMoreSKU=false;clickedMethod = 0" class="right" src="images/shut-down-.png" alt="">
                        </div>
                        <ul>
                            <li ng-repeat="SKUAttribute in item.SKUAttributes">
                                <div class="SKUAttribute">
                                    <ul class="row">
                                        <li class="SKUAttributes-title">{{SKUAttribute.name}}</li>
                                        <div class="SKUAttributes-options">
                                            <li class="SKUAttributes-option" ng-repeat="value in SKUAttribute.values" ng-click="selectSKU($parent.$index,$index)" ng-class="{'selected':SKUAttribute.isSelected[$index]==true,'selectable':SKUAttribute.selectable[$index]==true,'unselectable':SKUAttribute.selectable[$index]==false}">
                                                <img ng-show="SKUAttribute.isSelected[$index]" src="images/choose.png" alt="">
                                                {{ value | appendDotToLongName36 }}
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <div ng-if="isAllSKUSelected() && item.SKUAdditions">
                                <li class="SKUAdditions-title">附加项目</li>
                                <div class="SKUAdditions-options" ng-if="item.SKUAdditions">
                                    <ul class="row">
                                        <li class="SKUAdditions-option" ng-repeat="SKUAddition in item.SKUAdditions" ng-click="selectAddition($index)" ng-class="{'selected':SKUAddition.isSelected==true}"><img ng-show="SKUAddition.isSelected" src="images/choose.png" alt="">{{SKUAddition.name}}（ +{{SKUAddition.price}} ）</li>
                                    </ul>
                                </div>
                            </div>
                            <li class="count" ng-hide="blockBuying">
                                <span class="count-title">数量</span>
                                <div class="buy_btn">
                                    <a class="btn-reduce" href="" ng-click="reduce()">-</a>
                                    <input maxlength="4" class="text" id="buy-num" ng-model="buy_count" ng-blur="buyCountBlur(buy_count)" ng-change="buyCountChange(buy_count)">
                                    <a class="btn-add" href="" ng-click="add()">+</a>
                                </div>
                            </li>
                        </ul>
                        <a href="" ng-show="isAllSKUSelected() && needToSelectMoreSKU" ng-click="confirm()" class="reconfirm_SKU">确定</a>
                    </div>

                </div>
                <!--<div class="search">
                    <div class="search_category">
                        <span class="left search_key">规&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格</span>
                        <ul class="left">
                            <li><a href="javascript:;" class="current">40kg</a></li>
                            <li><a href="javascript:;">80kg</a></li>
                            <li><a href="javascript:;">120kg</a></li>
                        </ul>
                    </div>
                </div>-->
                <div ng-show="item.online" class="buy_box clearfix">
                    <div ng-show="blockBuying" ng-cloak>
                        <a href="" class="product_not_allowed_btn">敬请期待</a>
                    </div>
                    <div ng-show="!blockBuying" ng-cloak>
                        <a href="" ng-hide="needToSelectMoreSKU" ng-click="buy($event)" class="buy" ng-cloak>{{item.buyActionName}}</a>
                        <a href="" ng-hide="needToSelectMoreSKU" ng-click="addToShoppingCart($event)" class="shopping_car addcart"><i id="end"></i>加入购物车</a>
                    </div>
                </div>
                <div class="advantages" ng-if="categoryId =='6C7D8F66'">
                    <ul class="row">
                        <li><img src="images/advantages_car_1.png" alt="">品牌授权体验店</li>
                        <li><img src="images/advantages_car_2.png" alt="">专人全程服务</li>
                        <li><img src="images/advantages_car_3.png" alt="">厂家质量保证</li>
                    </ul>
                </div>
                <div class="advantages" ng-if="categoryId =='531680A5'">
                    <ul class="row">
                        <li><img src="images/advantages_huafei_1.png" alt="">优质厂家直供</li>
                        <li><img src="images/advantages_huafei_2.png" alt="">县级站点配送</li>
                        <li><img src="images/advantages_huafei_3.png" alt="">售后服务保障</li>
                    </ul>
                </div>
                <!--<p><a href="" ng-click="showFreight()">我是运费规则</a></p>-->
            </div>
        </div>
    </div>
    <div class="wrap wrap_intro ng-hide" ng-show="initDisplay">
        <div class="details_tab">
            <ul>
                <li ng-repeat="tab in tabs"><a href="" ng-click="show($index)" ng-class="{true:'current', false:''}[tab.isSelected]" ng-cloak><div>{{tab.name}}</div></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
        <div class="intro_list">
            <div class="intro_box" ng-show="tabs[0].isSelected">
                <div class="intro" ng-bind-html="item.detail | trustHtml"></div>
            </div>
            <div class="intro_box" ng-show="tabs[1].isSelected">
                <div class="canshu" ng-bind-html="item.canshu | trustHtml"></div>
            </div>
            <!--<div class="intro_box" ng-show="tabs[2].isSelected">-->
                <!--<div class="star_box">-->
                    <!--<div class="left percent">-->
                        <!--<p class="num">{{item.rate}}%</p>-->
                        <!--<p>好评率</p>-->
                    <!--</div>-->
                    <!--<div class="left stars">-->
                        <!--<span class="left txt">建议星级：</span>-->
                        <!--<span ng-class={'left':true,'star':true,'star1':stars[1],'star2':stars[2],'star3':stars[3],'star4':stars[4],'star5':stars[5]}></span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<ul class="comments_list">-->
                <!--</ul>-->
            <!--</div>-->
            <div class="intro_box" ng-show="tabs[2].isSelected">
                <div class="product_support" ng-bind-html="item.support | trustHtml"></div>
            </div>
        </div>
    </div>
</div>
<footer></footer>
<!-- <custom-alert ng-hide="hiddenAlert"></custom-alert> -->
<script>
    // jQuery(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:4,pnLoop:false});

</script>
</body>
</html>
