<!doctype html>
<html ng-app="shop_cart">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>新新农人研究院</title>
    <!--[if lte IE 7]><script>alert('为了更好的购物体验，请升级您的浏览器版本');window.location.href='http://cdn.dmeng.net/upgrade-your-browser.html?referrer='+location.href;</script><![endif]-->
    <link rel='icon' href='images/title_logo.png' type='image/png' />
    <meta name="description" content="新新农人公司简介，展示新新农人的合作伙伴、企业理念、公司风采、联系方式，方便您更好的了解我们！">
    <meta name="keywords" content="农资电商,农资商城,化肥,汽车,电子商务,农村金融,新新农人">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
    <!-- build:css -->
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/sweetalert.css">
    <!-- endbuild -->
    <!-- build:js -->
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/login/loginService.js"></script>
    <script src="js/remoteApiService.js"></script>
    <script src="js/payService.js"></script>
    <script src="js/shoppingCart/shoppingCartService.js"></script>
    <script src="js/shoppingCart/shoppingCartController.js"></script>
    <script src="js/responsiveslides.min.js"></script>
    <script src="js/headerFooterDirective.js"></script>
    <script src="js/headerController.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="js/sideService.js"></script>
    <script src="js/jquery.SuperSlide.2.1.1.js"></script>
    <!-- endbuild -->
</head>
<body>
<header ng-controller="headerController"></header>
<div class="wrap nav" ng-controller="shoppingCartController">
    <h1 class="left logo"><a href="/">新新农人</a></h1>
    <ul class="left">
        <li><a href="/">首页</a></li>
        <li><a href="huafei_list.html">化肥专场</a></li>
        <li><a href="car_list.html">汽车专场</a></li>
        <li><a href="news_list.html">新农资讯</a></li>
        <!-- <li><a href="#">新农论坛</a></li> -->
        <li><a href="about.html">公司介绍</a></li>
    </ul>
    <div class="right buy">
        <a href="" ng-click="accessShoppingCart()">
            <em>&nbsp;</em>
            购物车
        </a>
    </div>
    <span class="shopping_cart_badge ng-cloak" ng-bind="shoppingCartCount"></span>
    <a href="#" id="side_shoping_cart" ng-click="accessShoppingCart()" title="side shopping cart">
        <img src="images/shopping-right.png" alt=""/>
        <span class="side_shopping_cart_badge ng-cloak" ng-show="shoppingCartCount>0">{{shoppingCartCount>99?'99+':shoppingCartCount}}</span>
    </a>
</div>

<a href="#" id="back-to-top" title="Back to top"><img src="images/backToTop.png" alt=""/></a>
<div class="research_section">
    <div class="wrap">
        <div class="research_head"></div>
        <div class="research_body1">
            <img src="images/online-icon.png" alt=""/>
            <div class="description">

                <h3>丰富的在线视频课程</h3>
                <p>各行业的明星导师，精心打造在线课件和视频课程，课题围绕互联网+农业的环境</p>
                <p>和趋势，传授金融服务、科学务农、农技经验等知识</p>
            </div>
        </div>
        <div class="research_body2">
            <div class="description">
                <h3>专题行业报告挖掘</h3>
                <p>结合区域资源与深度调研，跟踪政策走势、行业趋势、农技服务等最新</p>
                <p>动态，并通过实际数据挖掘科学客观的分析观点，提供深度的行业报告</p>
                <a href="news_list.html?tab=3">了解更多<img src="images/more1.png" alt=""/></a>
            </div>
            <img src="images/special-icon.png" alt=""/>
        </div>
        <div class="research_body3">
            <img src="images/train-icon.png" alt=""/>
            <div class="description">
                <h3>线下培训交流活动</h3>
                <p>培训点：定期组织线下集中培训，亲临现场与行业大咖面对面交流</p>
                <p>读书会：组织青年创业咖啡读书会，促进交流讨论</p>
                <p>话题墙：线上公开话题讨论，发现新思维、新观点，激发参与积极性</p>
                <a href="newsDetail.html?id=e9531bc37ffba77d48ebc">了解更多<img src="images/more1.png" alt=""/></a>
            </div>
        </div>
    </div>
</div>
<footer></footer>

</body>
</html>
