<html>
<head>
    <title><%= result.title %> - 新新农人</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <meta name="robots" content="all,follow" />
    <style>
        .container{margin: 0 auto;width: 90%;}
        .container #product_info{margin-top: 5px;padding-left: 5px;padding-right: 5px;padding-bottom: 5px;}
        .container #product_info img{display: block;max-width: 90%;width: 90%;-ms-interpolation-mode: bicubic;height:auto;margin: 0 auto;}
    </style>
</head>

<body>
	<div class="container">
        <div id="product_info"></div>
    </div>
            
    <%= result.productInfo%>

    <script src="/js/jquery.min.js"></script>
    <script  type="text/javascript">
        var data = JSON.parse($('#product').html());
        $("#product_info").html(data.productInfo);
    </script>
  
</body>
</html>
