@{layout('')}

<!DOCTYPE html>
    <html>
        <head>
            <title>Manager v@{config.version}</title>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=10" />
            <meta name="format-detection" content="telephone=no" />
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
            <meta name="robots" content="all,follow" />
        @{head}
            <link rel="stylesheet" href="/3rd-party/non-classified/font-awesome/v4.4.0/css/font-awesome.min.css" />
            <link rel="stylesheet" href="/3rd-party/css/google-font/Source+Sans+Pro-400,200,700.css" />
        @{import('manager.css', 'favicon.ico')}
            <script>
            var managerurl="@{!CONFIG('manager-url')}";
            var currency='@{!config.custom.currency_entity}';
            var su=JSON.parse('@{json(user)}');
            </script>
        </head>
        <body>
        <!--<div id="loading"></div>-->
        <!--<div id="success"><span class="fa fa-check-circle"></span></div>-->

        <div id="body">
            <div data-component="form" data-title="@(登录)" data-component-path="common.form" data-if="true" data-width="600px" data-component-id="login.form" data-class="login">
                <div class="padding" style="padding-bottom:0">
                    <div class="row m">
                        <div data-component="textbox" data-component-path="login.form.account" data-required="true" class="col-md-12">@(用户名)</div>
                    </div>
                    <div class="row">
                        <div data-component="textbox" data-component-type="password" data-component-path="login.form.password" data-required="true" class="col-md-12">@(密码)</div>
                    </div>
                </div>
                <br>
                <div data-component="error" data-component-path="orders.response"></div>
                <div class="ui-form-buttons">
                    <div data-component="validation" data-component-path="login.form">
                        <button name="submit">@(登录)</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/3rd-party/js/jquery/2.1.3/jquery.min.js"></script>
        <script src="/3rd-party/js/jsencrypt.js"></script>

        @{js('be_common.js')}
        @{section('script')}

        <script>
            var login = {};
            login.form = {};

            ON('#login.form', function(component) {
                component.submit = function (hide) {
                    $.components.GET('/api/v2.0/user/getpubkey/', null, function(response){
                        var public_key = response.public_key;
                        var encrypt = new JSEncrypt();
                        encrypt.setPublicKey(public_key);
                        login.form.password = encrypt.encrypt(login.form.password);
                        $.components.POST(managerurl + '/api/login/', login.form, function (response) {
                            // Error handling
                            SET('orders.response', response);
                            if (response.code == 1000) {
                                window.location.href = "/$manager";
                            }else{
                                alert(response.message);
                            }
                        });
                    });
                };
            });
        </script>
    </body>
</html>